{% load operations %}
{% if cash_flow_set %}
    <div class="table-responsive mt-3">
        <table class="table table-bordered bg-light">
            <thead>
            <tr>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 5%">Fecha
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 10%">Operación
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 27%">
                    <div class="row">
                        <div class="col-sm-10">
                            Descripcion de la operación
                        </div>
                        <div class="col-sm-2 pr-0">
                            <i class="fas fa-check fa-lg" style="color: #008a02;"></i>
                        </div>
                    </div>
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 5%">ENTRADA
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 5%">SALIDA
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 10%">Nro. Operación
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 10%">Cliente
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 5%">Placa
                </th>
                {#                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold" style="width: 5%">Responsable</th>#}
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 10%">Usuario
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 10%">Revisado por
                </th>
                <th class="text-uppercase text-center align-middle bg-light text-dark font-weight-bold"
                    style="width: 3%"><i class="fas fa-pen"></i></th>
            </tr>
            </thead>
            <tbody id="cash-grid">
            {% for c in cash_flow_set %}
                <tr pk="{{ c.id }}" {% if c.check_pay %}style="background-color: #d8f5c6" {% endif %}
                    class="{% if c.type == 'R' %}text-danger font-weight-light{% elif c.type == 'D' %}text-dark font-weight-light{% endif %}">
                    <td class="text-center transaction-date p-1">{{ c.transaction_date|date:"d/m/Y" }}</td>
                    <td class="text-center p-1">{{ c.get_type_display|upper }}</td>
                    <td class="text-center description-cash p-1">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ c.description|upper|default_if_none:"-" }}
                            </div>
                            <div class="col-sm-2 pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" cf_id="{{ c.id }}"
                                           class="custom-control-input check-review"
                                           id="customCheck-{{ c.id }}"
                                           {% if c.check_pay %}
                                           checked
                                           {% if user.id != c.user_check.id %}disabled{% endif %}
                                           {% endif %}
                                    >
                                    <label class="custom-control-label" for="customCheck-{{ c.id }}"></label>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td class="text-right p-1">
                        {% if c.type == 'D' %}{{ c.total|replace_round_separator }}{% endif %}</td>
                    <td class="text-right p-1">
                        {% if c.type == 'R' %}{{ c.total|replace_round_separator }}{% endif %}</td>
                    <td class="text-center p-1">{{ c.operation_code }}</td>
                    <td class="text-center p-1">{{ c.order.client }}</td>
                    <td class="text-center p-1">{{ c.order.distribution_mobil.truck.license_plate }}</td>
                    {#                    <td class="text-center">{{ c.order.distribution_mobil.pilot.full_name }}</td>#}
                    <td class="text-center p-1">{{ c.user.worker_set.last.employee.simple_name | upper |default_if_none:"-" }}</td>
                    <td class="text-center p-1 check-user text-primary">{{ c.user_check.worker_set.last.employee.simple_name | upper |default_if_none:"-" }}</td>
                    <td class="text-center p-1">
                        <a class="btn-sm btn-outline-warning text-dark btn-edit"
                           data-toggle="modal"
                           data-target="#exampleModalCenter"
                           pk="{{ c.id }}">
                            <i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td colspan="1" class="font-weight-bold text-right">DEPOSITOS:</td>
                <td colspan="1" class="font-weight-bold text-right">{{ inputs }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="1" class="font-weight-bold text-right">RETIROS:</td>
                <td colspan="1" class="font-weight-bold text-right">{{ outputs }}</td>
                <td colspan="5"></td>
            </tr>
            <!--<tr>
                <td colspan="3"></td>
                <td colspan="1" class="font-weight-bold text-right">TRANSFERENCIAS:</td>
                <td colspan="1" class="font-weight-bold text-right">{{ transfers|floatformat:2 }}</td>
                <td colspan="5"></td>
            </tr>-->
            <tr>
                <td colspan="3"></td>
                <td colspan="1" class="font-weight-bold text-right">SALDO:</td>
                <td colspan="1" class="font-weight-bold text-right">{{ current_balance }}</td>
                <td colspan="5"></td>
            </tr>
            </tfoot>
        </table>
    </div>
{% else %}
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <strong>Atencion!</strong> Tu debes ingresar una fecha primero.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}



<script>

    $(document).on('click', '.btn-edit', function () {
        let pk = $(this).attr('pk');
        {#console.log(pk);#}
        $.ajax({
            url: '/accounting/get_modal_edit/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'pk': pk},
            success: function (response) {
                $('#modal-edit').html(response['grid']);
            },
        });

    });

    function cashDescriptionEditBank() {
        let new_description = $('#id_description').val()
        let new_transaction_date = $('#id_date').val()
        let new_cash_id = $('#id_cash_flow').val()

        {#console.log(new_description, new_cash_id, new_transaction_date)#}
        $.ajax({
            url: '/accounting/update_description_and_date_cash_bank/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {
                'description': new_description,
                'cash_flow_id': new_cash_id,
                'date': new_transaction_date
            },
            success: function (response) {
                toastr.success(response['success'], '¡Bien hecho!');
                $('#exampleModalCenter').modal('hide');
                $("#search-form").trigger('submit');

                {#$('tr[pk="'+new_cash_id+'"] td.transaction-date').text(new_transaction_date);#}
                {#$('tr[pk="'+new_cash_id+'"] td.description-cash').text(new_description);#}
            },
        });
    }


</script>
