<table class="table table-bordered" id="report-salary">
    <thead>
    <tr class="text-white bg-dark text-uppercase text-center">
        <td class="col-form-label col-form-label-lg">ID</td>
        <td class="col-form-label col-form-label-lg">EMPLEADO</td>
        <td class="col-form-label col-form-label-lg">REMUNERACION INICIAL</td>
        <td class="col-form-label col-form-label-lg">PAGAR</td>
        <td class="col-form-label col-form-label-lg">FECHA</td>
        <td class="col-form-label col-form-label-lg">REMUNERACION PAGADA</td>
        <td class="col-form-label col-form-label-lg">ENTIDAD DE PAGO</td>
        <td class="col-form-label col-form-label-lg">CODIGO OPERACION</td>
{#        <td class="col-form-label col-form-label-lg">ESTADO</td>#}
    </tr>
    </thead>
    <tbody id="tbl-items">
    {% for w in salary_dict %}
        <tr pk="{{ w.id }}" class="text-center salary">
            <td class="col-form-label col-form-label-lg align-middle text-center">{{ w.id }}</td>
            <td class="col-form-label col-form-label-lg align-middle text-center">{{ w.names }}</td>
            <td class="col-form-label col-form-label-lg align-middle text-center">
                S/ {{ w.salary_initial|safe }}</td>
            <td class="col-form-label col-form-label-lg align-middle text-center button-pay">
                <button type="button"
                        class="btn btn-outline-danger btn-show-payments btn-block"
                        data-toggle="modal"
                        data-target="#modal-payment-salary"
                        pk="{{ w.id }}"><i
                        class="fas fa-dollar-sign"></i> PAGAR
                </button>
            </td>
            {% for s in w.salary_set %}
                {% for c in s.cash_flow_set %}
                    <td class="col-form-label col-form-label-lg align-middle text-center">{{ c.date_pay|date:"d-m-y" }}</td>
                    <td class="col-form-label col-form-label-lg align-middle text-center pay-row">S/ {{ c.salary_pay|safe }}</td>
                    <td class="col-form-label col-form-label-lg align-middle text-center">{{ c.cash }}</td>
                    <td class="col-form-label col-form-label-lg align-middle text-center">{{ c.cod }}</td>
{#                    <td class="col-form-label col-form-label-lg align-middle text-center"></td>#}
                {% endfor %}
            {% endfor %}
        </tr>

    {% endfor %}

    </tbody>
    <tfoot>
        <tr class="text-white bg-dark text-uppercase text-center">
            <td class="col-form-label col-form-label-lg" colspan="5">total remuneraciones</td>
            <td class="col-form-label col-form-label-lg" colspan="1">S/ {{ total_salary }}</td>
{#            <td class="text-center" colspan="2"></td>#}
        </tr>
    </tfoot>
</table>

<script type="text/javascript">

    $(document).on('click', '.btn-show-payments', function () {
        let _worker_id = $(this).attr('pk');

        $.ajax({
            url: '/accounting/get_salary_pay/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {
                'worker_id': _worker_id,
                'month': $('#id_month').val(),
                'year': $('#id_year').val(),
            },
            success: function (response) {
                $('#pay-salary').html(response.grid);
            },
            fail: function (response) {
                console.log("error");
            }
        });
    });

    $('#report-salary tr.salary td.pay-row').each(function () {

        let row_pay = $(this).text();
        if (row_pay !== '') {
            {#$(this).parent('tr').find('td.button-pay button').hide();#}
            $(this).parent('tr').find('td.button-pay').text('PAGADO').css({'background-color': '#28a745'});
            {#$(this).parent('tr').find('td.button-pay').css({'background-color': '#beec96'});#}
            {#$(this).parent('tr').find('td.pay-row').css({'background-color': '#28a745'});#}
            {#$(this).parent('tr').css({'background-color': '#aaa'});#}
        }
    });




</script>