{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte de Cuadro de Compras y Ventas Comparativo
{% endblock title %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="card">

            <div class="card-header text-center">
                <label class="col-form-label col-form-label-lg text-uppercase font-weight-bold"><h2>Reporte
                    Tributario</h2></label>
            </div>
            <div class="card-body">
                <form class="form-inline" id="search-form" method="POST">
                    {% csrf_token %}

                    <form class="form-inline">
                        <label class="my-1 mr-2" for="id-year">Seleccione año:</label>
                        <select class="form-control" id="id_year" name="year">
                            <option value="0">Seleccione</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2022">2023</option>
                            <option value="2022">2024</option>
                            <option value="2022">2025</option>
                        </select>
                        <button type="submit" class="btn btn-blue my-1 ml-2" id="btn-search">
                            <i class="fas fa-search-dollar"></i> Buscar
                        </button>
{#                        <button type="button" class="btn btn-outline-success my-1 ml-2" id="btn-search">#}
{#                            <i class="fa fa-file-excel"></i> Exportar Excel#}
{#                        </button>#}
                        <a onclick="excelTickets();" class="btn btn-success my-1 ml-2 text-white m-1">
                        <span class="fa fa-file-excel"></span> Exportar
                    </a>
                    </form>

                </form>

            </div>

            {#            <button type="button" class="btn btn-success my-1 ml-2" id="printReportExcel">#}
            {#                <i class="fas fa-file-csv"></i> Excel#}
            {#            </button>#}

        </div>
        <div class="card">
            <div class="card-body table-responsive" id="tbl-buys">
            </div>
        </div>
    </div>

{% endblock body %}

{% block extrajs %}


    <script type="text/javascript">
        function excelTickets() {

            $("#report-comparative").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "Worksheet vouchers",
                filename: "reporte_tributario_del_año",//do not include extension
                fileext: ".xlsx", // file extension
                preserveColors: true

            });
        }
        $('#search-form').submit(function (event) {
            event.preventDefault();
            let data = new FormData($('#search-form').get(0));

            $('#btn-search').attr("disabled", "true");

            $.ajax({
                url: '/accounting/report_tributary/',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        {#toastr.success(response['message'], '¡Bien hecho!');#}
                        $('#tbl-buys').html(response.grid);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                    }
                }
            });
            $('#btn-search').removeAttr("disabled", "false");
        });

        function ReportTributaryExcel() {
            let year = $('#id_year').val()
            if (year) {
                {#window.location.href = "{% url 'sales:reportkardex' month=m pk=p %}";#}
                {#window.open("/sales/reportkardex/" + m + "/" + p + "/");#}
                {#window.open("/sales/reportkardex/" + m + "/" + p + "/", '_top');#}
                window.open("/sales/report_tributary_excel/" + year + "/", '_top');
            }
        }
    </script>


{% endblock extrajs %}
