{% extends 'home.html' %}
{% block title %}
    coronasoft.dev | Compras
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center justify-content-center p-2" style="height: 100vh;">
                    <form id="purchase-form" action="{% url 'buys:save_purchase' %}" method="POST"
                          class="was-validated">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="m-0">Numero documento</label>
                                        <input type="text" class="form-control" id="document"
                                               name="document"
                                               value="" placeholder="Ingrese ruc" required>
                                        {#                                        <div class="input-group input-group">#}
                                        {#                                            <input class="form-control" id="document"#}
                                        {#                                                   name="document"#}
                                        {#                                                   value="" placeholder="Ingrese ruc" required/>#}
                                        {#                                            <div class="input-group-append">#}
                                        {#                                                <button type="button" class="btn btn-primary"#}
                                        {#                                                        data-toggle="modal"#}
                                        {#                                                        data-target="#modal-supplier">#}
                                        {#                                                    <i class="fa fa-search"></i>#}
                                        {#                                                </button>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        <input type="hidden" class="form-control" value="0" id="ProviderId"
                                               name="ProviderId">
                                    </div>
                                    <div class="col-md-8">
                                        <label class="m-0">Nombres/Razon Social</label>
                                        <div id="autocomplete-supplier" class="autocomplete">
                                            <div class="input-group input-group">
                                                <input class="form-control  autocomplete-input" required
                                                       id="search-supplier"
                                                       name="search-supplier"
                                                       placeholder="Buscar proveedor..."/>
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-primary"
                                                            data-toggle="modal" onclick="NewProvider()"
                                                            data-target="#modal-supplier">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <ul class="autocomplete-result-list"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="m-0">Fecha compra</label>
                                        <input type="date" class="form-control" id="id_fechacompra"
                                               name="fechacompra"
                                               placeholder="Fecha compra"
                                               value="{{ date_now }}" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="m-0">Comprobante</label>
                                        <select class="form-control" id="id_type_bill" name="type_bill"
                                                required>
                                            <option disabled selected value=""> Seleccione</option>
                                            <option value="T">TICKET</option>
                                            <option value="B">BOLETA</option>
                                            <option value="F">FACTURA</option>
                                            <option value="C">COTIZACION</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="m-0">Numero comprobante</label>
                                        <input type="text" class="form-control" id="id_factura"
                                               name="factura"
                                               placeholder="Numero Comprobante"
                                               value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="m-0">Placa vehiculo</label>
                                        <select class="form-control" id="id-truck" name="truck">
                                            <option disabled selected value=""> Seleccione</option>
                                            {% for t in truck_set %}
                                                <option value="{{ t.id }}">{{ t.license_plate }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="m-0">Categoria compra</label>
                                        <select class="form-control" id="id-category" name="id-category" required>
                                            <option disabled selected value=""> Seleccione</option>
                                            {% for c in category_set %}
                                                <option value="{{ c.0 }}">{{ c.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4 align-self-end">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pl-1 pr-1">Registrar
                                                </button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" id="btn-detail"
                                                        class="btn btn-primary btn-block pl-1 pr-1"
                                                        data-toggle="modal"
                                                        data-target="#modal-updetail">Detalle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="render-form" style="height: 300px;">
                                <div class="table-responsive" id="render-table">
                                    {% include "buys/purchase_detail_list.html" %}
                                </div>
                                {#                {% include "buys/purchase_create.html" %}#}
                            </div>
                        </div>
                    </form>
                    <div>
                        <!-- Tu contenido aquí -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-updetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">DETALLE DE LA COMPRA</h5>
                    <button type="button" class="close" onclick="limper()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-detail">
                    <table class="table table-sm">
                        <tr>
                            <td>Descricpion del producto:</td>
                            <td><select class="form-control" id="id_producto" name="producto" required>
                                <option selected value="0"> Seleccione</option>
                                {% for p in product_obj %}
                                    {% if employee.occupation.id == p.id %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% else %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Cantidad:</td>
                            <td>
                                <input type="text" class="form-control" id="id_cantidad"
                                       name="cantidad"
                                       placeholder="Cantidad" required
                                       value="{{ employee.person.paternal_last_name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Unidad de Medida:
                            </td>
                            <td>
                                <select class="form-control" id="id_unidad" name="unidad" required>
                                    <option value="0"> Seleccione</option>
                                    {% for u in unitmeasurement_obj %}
                                        {% if employee.occupation.id == u.id %}
                                            <option selected value="{{ u.id }}">{{ u.description }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.description }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Precio Unitario:
                            </td>
                            <td>
                                <input type="text" class="form-control" id="id_preciounitario"
                                       name="preciounitario"
                                       placeholder="S/.0.00" required
                                       value="{{ employee.person.paternal_last_name }}">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="limper()" data-dismiss="modal">Salir
                    </button>
                    <button type="button" id="id_add" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">REGISTRAR PROVEEDOR</h5>
                    <button type="button" class="close" onclick="limper()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0">Numero documento</label>
                            <input type="text" class="form-control" id="s_document" name="s_document">
                            <input type="hidden" value="0" id="id_provider" name="id_provider">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0">Razon Social/Nombres</label>
                            <input type="text" class="form-control" id="s_names" name="s_names">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0">Direccion</label>
                            <input type="text" class="form-control" id="s_address" name="s_address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0">Telefono</label>
                            <input type="text" class="form-control" id="s_phone" name="s_phone">
                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <label class="m-0">Correo electronico</label>#}
{#                            <input type="text" class="form-control" id="s_email" name="s_email">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row">
                        <div class="col-md-12">
                            <label class="m-0">Sector</label>
                            <select class="form-control" id="s_sector" name="s_sector">
                                {% for s in sector_set %}
                                    <option value="{{ s.0 }}">{{ s.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-supplier" onclick="Limpiar()" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" onclick="SaveSupplier()" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            new Autocomplete('#autocomplete-supplier', {
                search: input => {
                    const url = `/buys/search_supplier/?search=${encodeURI(input.toUpperCase())}`

                    return new Promise(resolve => {
                        if (input.length < 3) {
                            $('#search-code').val('')
                            return resolve([])
                        }
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                resolve(data.product)
                            })
                    })
                },
                renderResult: (result, props) => {
                    let group = ''
                    if (result.index % 3 === 0) {
                        group = '<li class="group">Group</li>'
                    }
                    return `
                ${group}
                <li ${props} class="font-weight-bold small">
                 <div class="text-white h6">
                    ${'<i class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></i>'} ${result.business_name}
                 </div>
                 <div class="text-white-50">
                    <b class="text-white">RUC: ${result.ruc}</b> <br>
                    DIRECCION : ${result.address} <br>
                    SECTOR : ${result.sector} <br>
                  </div>
                </li>
                `
                },
                getResultValue: result => result.business_name,
                onSubmit: result => {
                    if (result) {
                        $('#ProviderId').val(result.pk)
                        $('#document').val(result.ruc)
                        {#SearchProduct(result.pk)#}
                    }
                }
            })
            // Agrega un evento de teclado al input principal
            $("#document").keypress(function (event) {
                $("#id_provider").val("0");
                if (event.keyCode === 13) {
                    event.preventDefault()
                    $(this).trigger("enterKey");
                    let document = $('#document').val();
                    $("#s_document").val(document);
                    $("#modal-supplier").modal("show");
                    var e = jQuery.Event("keypress");
                    e.which = 13;
                    e.keyCode = 13;
                    $("#s_document").trigger(e);
                }
            });
        })
        {#document.ready = document.getElementById("opciones").value = '0';#}
        {#$('#id_proveedor').select2({#}
        {#    theme: 'bootstrap4',#}
        {# });#}
        $('#id_producto').select2({
            theme: 'bootstrap4',
        });
        $('#id-truck').select2({
            theme: 'bootstrap4',
        });
        $("#btn-new").click(function () {
            limper_form();
        });

        $('#s_document').keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault()
                $(this).trigger("enterKey");
                let s_document = $('#s_document').val();
                // if ((document.length !== 8)) {
                //     toastr.warning('El DNI debe contener 8 digitos');
                //     return false;
                // }
                {#$('#id-loading').css('display', '')#}
                $.ajax({
                    url: '/buys/get_supplier/',
                    dataType: 'json',
                    type: 'GET',
                    data: {'document': s_document},
                    success: function (response) {
                        if (response.pk) {
                            toastr.success(response.message);
                            $("#id_provider").val(response.pk);
                            $("#s_names").val(response.names);
                            $("#s_address").val(response.address);
                            {#$("#ProviderId").val(response.pk);#}
                            {#$("#search-supplier").val(response.names);#}
                            $("#s_phone").val(response.phone);
                            $("#s_sector").val(response.sector);
                            {#$("#s_email").val(response.email);#}
                        } else {
                            toastr.error(response.message)
                        }
                        $('#id-loading').css('display', 'none')
                    },
                    fail: function (response) {
                        toastr.error('Ocurrio un problema en el proceso')
                    }
                });
            }
        });

        function limper_form(request) {
            $('#id_fechacompra').val('');
            $("#id_factura").val('');
            {#$('#id_proveedor option').removeAttr('selected');#}
            {#$('#id_proveedor option:first').attr('selected', 'selected');#}
            {#$('#id_proveedor').trigger('change');#}
            $('#id-truck option').removeAttr('selected');
            $('#id-truck option:first').attr('selected', 'selected');
            $('#id-truck').trigger('change');
        };

        function limper(request) {
            $('#id_cantidad').val('');
            $('#id_preciounitario').val('');
            $('#id_producto option').removeAttr('selected');
            $('#id_producto option:first').attr('selected', 'selected');
            $('#id_producto').trigger('change');
            $("#id_unidad").empty().append('<option>Seleccione</option>');

            {#$('#id_producto option[value=0]').attr('selected','selected');#}
            {#$('#id_unidad option[value=0]').attr('selected','selected');#}
        };
        $("#id_add").click(function () {

            let id_product = $('#id_producto').val();
            let name_product = $('#id_producto option:selected').text();
            let quantity = parseFloat($('#id_cantidad').val());
            let id_unit = $('#id_unidad').val();
            let name_unit = $('#id_unidad option:selected').text();
            let price_unit = parseFloat($('#id_preciounitario').val());
            if (id_product > 0 && quantity > 0 && id_unit > 0 && price_unit > 0) {
                if ($("#id_detail_data_grid tr[product=" + id_product + "]").length) {
                    toastr.warning('PRODUCTO YA SELECCIONADO, SELECCIONE OTRO.!');
                    return false;
                }
                $('#id_detail_data_grid').append(
                    '<tr product="' + id_product + '">' +
                    '<td class="item-numero">' + '</td>' +
                    '<td class="text-center">' + '</td>' +
                    '<td>' + name_product + '</td>' +
                    '<td class="item-quantity  text-right">' + quantity.toFixed(2) + '</td>' +
                    '<td class="item-unit text-center" pu="' + id_unit + '">' + name_unit + '</td>' +
                    '<td class="item-price text-right">' + price_unit.toFixed(4) + '</td>' +
                    '<td class="text-right">' + (quantity * price_unit).toFixed(4) + '</td>' +
                    {#'<td class="text-center">' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-sm delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +#}
                    '<td class="align-middle text-center"> ' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-success delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +
                    '</tr>'
                );
                //$index++;
                limper()
                counterStrike()
                toastr.info('PRODUCTO AGREGADO', '¡MENSAJE!');


            } else {
                {#toastr.succes('info messages');#}
                toastr.warning('POR FAVOR, COMPLETE TODO LOS CAMPOS!');
            }

        });

        $('#purchase-form').submit(function (event) {
            event.preventDefault();
            if ($("#id_detail_data_grid tbody tr").length > 0) {
                let Detail_purchase = {
                    "Details": [],
                    "Invoice": $('#id_factura').val(),
                    "ProviderId": $('#ProviderId').val(),
                    "Date": $('#id_fechacompra').val(),
                    "truck": $('#id-truck').val(),
                    "Type_bill": $('#id_type_bill').val(),
                    "category": $('#id-category').val()
                };
                // Recorre cada detalle de producto (son 2 arrays) each -> recorre

                $("#id_detail_data_grid tbody tr").each(function () {
                    var detailObj = {
                        "Product": $(this).attr('product'),
                        "Quantity": $(this).find("td.item-quantity").text(),
                        "Unit": $(this).find("td.item-unit").attr('pu'),
                        "Price": $(this).find("td.item-price").text(),
                    };
                    Detail_purchase.Details.push(detailObj);

                });

                {#console.log(JSON.stringify(Detail_purchase));#}
                {#alert('llego la hora de guardar.');#}

                $.ajax({

                    url: '/buys/save_purchase/',
                    async: true,
                    dataType: 'json', // for response
                    type: 'GET',
                    data: {'purchase': JSON.stringify(Detail_purchase)},
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            if (response.success) {
                                toastr.success(response.message, '¡RESULTADO!');
                                setTimeout(() => {
                                    location.reload();
                                }, 200);
                            } else {
                                toastr.error(response.message, '¡RESULTADO!');
                            }

                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                    }
                });

            } else {
                toastr.warning("PARA REALIZAR LA COMPRA NECESITA AGREGAR PRODUCTOS. ", '¡ADVERTENCIA!');
            }
        });

        $('#id_producto').change(function () {
            //recupera el id_dela opcion seleccionada
            let _search = $(this).val();
            //vacia el combo-borra opciones
            $('#id_unidad').empty();
            if (parseInt(_search) > 0) {
                $.ajax({
                    url: '/buys/get_units_by_product/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    //mando  id del producto del combo
                    data: {'ip': _search},
                    // si va bien retorna la data
                    success: function (response) {
                        //le da formato array
                        let units = JSON.parse(response['units']);
                        {#console.log(units)#}
                        if (units.length > 0) {
                            units.forEach(
                                element =>
                                    $('#id_unidad').append(
                                        '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                            )
                        }

                    },

                });
            }
        });

        //Bonton eliminar fila
        function deleteItem($id) {
            $('#details').find("tr[product=" + $id + "]").remove();
            counterStrike();
        }

        // reasigna numero de fila a los detalles
        function counterStrike() {
            let l = 1;
            $('#details tr').each(function () {
                $(this).attr('i', l);
                $(this).children('td:nth-child(2)').text(l);
                l++;
            });

        }

        function SaveSupplier() {
            let pk = $('#id_provider').val()
            let document = $('#s_document').val()
            let names = $('#s_names').val()
            let address = $('#s_address').val()
            let phone = $('#s_phone').val()
            {#let email = $('#s_email').val()#}
            let sector = $('#s_sector').val()
            if (document === "") {
                toastr.warning('Ingrese un numero de docuemnto')
                return false
            }
            if (names === "") {
                toastr.warning('Ingrese un nombre')
                return false
            }
            if (address === "") {
                toastr.warning('Ingrese la direccion')
                return false
            }
            let supplier = {
                "pk": pk,
                "document": document,
                "names": names,
                "address": address,
                "phone": phone,
                "email": email,
                "sector": sector
            };
            $.ajax({

                url: '/buys/save_supplier/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {'supplier': JSON.stringify(supplier)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response.message);
                        $('#close-supplier').trigger('click')
                        $('#document').val(document)
                        $('#search-supplier').val(names)
                        $('#ProviderId').val(response.pk)
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                }
            });
        }

        function NewProvider() {
            $("#id_provider").val("0");
            $("#s_document").val("");
            $("#s_names").val("");
            $("#s_address").val("");
            {#$("#ProviderId").val(response.pk);#}
            {#$("#search-supplier").val(response.names);#}
            $("#s_phone").val("");
            $("#s_sector").val("N");
            {#$("#s_email").val("");#}
        }
        function Limpiar(){
              $('#ProviderId').val("0")
              $('#document').val("")
              $('#search-supplier').val("")
        }
    </script>
{% endblock extrajs %}