<table class="table  table-striped align-content-center table-bordered response">
    <thead class="text-white" style="background-color: rgb(105,105,105);">
    <tr>
        <th class="text-center">Placa</th>
        <th class="text-center">Numero de Viajes</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Gastos</th>

    </tr>
    </thead>
    <tbody>
    {% for key, value in dictionary.items %}
        <tr>
            <td class="text-center  align-middle">{{ value.license_plate }}</td>
            <td class="text-center  align-middle">{{ value.count }}</td>
            <td class="text-center  align-middle">{{ value.quantity_total }}</td>
            <td class="text-center  align-middle">{{ value.expenses }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<script>

</script>