{% load operations %}
<div class="card p-0  m-0" style="border-color: #2b579a">
    <div class="card-header text-center pb-1" style="background: #2b579a">
        <h6 class="card-title text-white">COMPRAS DE GLP Y LAS MARAVILLAS</h6>
    </div>
    <div class="card-body p-0  m-0">
        <div class="col-lg-12 col-md-12 p-2  m-0">
            <div id="container-purchase-glp" style="height: 500px; max-width: 1800px; margin: 0px auto;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var chartbar = new CanvasJS.Chart("container-purchase-glp", {
        animationEnabled: true,
        backgroundColor: "#fde59d",
        title: {
            text: "COMPRAS DE GLP",
            fontSize: 20,
        },
        axisY: {
            title: "Cantidad (KG)",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC",
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#f8f8f8"
             }
        },
        axisY2: {
            title: "Monto (S/)",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E",
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#F8F8F8"
             }

        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            fontSize: 15,
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Cantidad KG",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 16,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "Cantidad KG",
            showInLegend: true,
            dataPoints: {{ quantity_d|safe }}
        },
            {
                type: "column",
                name: "Monto S/.",
                indexLabelPlacement: "outside",
                indexLabelFontSize: 16,
                indexLabelFontStyle: "Bold",
                indexLabel: "{y}",
                indexLabelOrientation: "horizontal",
                legendText: "Monto S/.",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints: {{ amount_d|safe }}
            }]
    });
    chartbar.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chartbar.render();
    }


</script>