<table class="table table-bordered" id="report-comparative">
    <thead>
    <tr class="text-uppercase text-center">
        <td class="col-form-label col-form-label-lg align-middle text-center font-weight-bold" rowspan="2">MESES</td>
        <td class="col-form-label col-form-label-lg bg-warning font-weight-bold" colspan="2">COMPRAS DE GLP EN KG Y
            SOLES
        </td>
        <td class="col-form-label col-form-label-lg bg-success font-weight-bold" colspan="3">VENTAS EN 10 KG Y EN
            SOLES
        </td>
        <td class="col-form-label col-form-label-lg bg-info font-weight-bold" colspan="2">INGRESOS DE GLP EN KG Y DE
            UNIDADES (BOTELLAS)
        </td>
        <td class="col-form-label col-form-label-lg bg-secondary font-weight-bold" colspan="1">GASTOS TOTALES</td>
    </tr>
    <tr class=" text-uppercase text-center">
        <td class="col-form-label col-form-label-lg bg-warning font-weight-bold">KG</td>
        <td class="col-form-label col-form-label-lg bg-warning font-weight-bold">S/</td>
        <td class="col-form-label col-form-label-lg bg-success font-weight-bold">10 KG</td>
        <td class="col-form-label col-form-label-lg bg-success font-weight-bold">KG</td>
        <td class="col-form-label col-form-label-lg bg-success font-weight-bold">S/</td>
        <td class="col-form-label col-form-label-lg bg-info font-weight-bold">KG</td>
        <td class="col-form-label col-form-label-lg bg-info font-weight-bold">UNIDADES</td>
        <td class="col-form-label col-form-label-lg bg-secondary font-weight-bold">S/</td>
    </tr>
    </thead>
    <tbody>

    {% for month in report %}
        <tr class="text-uppercase text-center">
            <td class="col-form-label col-form-label-lg font-weight-bold text-right">{{ month.month }}</td>
            <td class="col-form-label col-form-label-lg bg-warning">{{ month.quantity_glp|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-warning">{{ month.total_soles_glp|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-success">{{ month.total_ball_month|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-success">{{ month.total_ball_month_10|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-success">{{ month.total_sales_month|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-info">{{ month.quantity|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-info">{{ month.total_quantity|safe }}</td>
            <td class="col-form-label col-form-label-lg bg-secondary">{{ month.total_purchase|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="bg-dark text-white font-weight-bold">
        <td class="align-middle text-center col-form-label p-1">SUMA TOTAL</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_quantity_requirement|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_requirement|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_ball|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_ball_10|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_sales|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_quantity|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_count|safe }}</td>
        <td class="align-middle text-center col-form-label p-1">{{ sum_total_purchase|safe }}</td>
    </tr>
    </tfoot>
</table>
<ul>

</ul>
