{% extends 'home.html' %}

{% block title %}
coronasoft.dev | Productos
{% endblock title %}

{% block body %}


<!-- Content -->
<div class="container-fluid mt-3">
    <div class="row mb-3">
        <div class="col-3">

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" onclick="showModalCreation('{% url 'sales:json_product_create' %}')"
                    class="btn btn-success"><i class="fas fa-user-plus"></i> &nbsp; Nuevo producto
            </button>
            <a href="{% url 'sales:product_print' %}" class="btn btn-warning" target="print"><span
                    class="fa fa-print"></span> Imprimir</a>

        </div>
        <div class="col-7 d-flex align-items-end flex-column">


            <div id="sorts" class="button-group">
                <button class="btn btn-primary is-checked" data-sort-value="original-order">Sin ordenar</button>
                <button class="btn btn-primary" data-sort-value="id">Ordenar por Id</button>
                <button class="btn btn-primary" data-sort-value="name">Ordenar por Nom.</button>
                <button class="btn btn-primary" data-sort-value="subcategory">Ordenar por Sub.</button>
                <button class="btn btn-primary" data-sort-value="category">Ordenar por Cat.</button>
            </div>
        </div>
        <div class="col-2">
            <input type="text" id="myInput" class="form-control" placeholder="Buscar por nombre" />
        </div>
    </div>

    <div id="product-grid-list" >{% include "sales/product_grid_list.html" %}</div>

</div>


<div class="modal fade bd-example-modal-lg" id="creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="edition" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
<div class="modal fade" id="set-quantity-on-hand" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
<div class="modal fade" id="show-kardex" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
<div class="modal fade" id="set-product-detail" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
<div class="modal fade" id="edition-recipe" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>

<style>
.rem-120{ width: 120rem;}
.w-1{ width: 1%;}
.w-2{ width: 2%;}
.w-3{ width: 3%;}
.w-4{ width: 4%;}
.w-5{ width: 5%;}
.w-10{ width: 10%;}
.w-15{ width: 15%;}
.w-20{ width: 20%;}
.w-30{ width: 30%;}
.w-35{ width: 35%;}
.w-40{ width: 40%;}
.w-45{ width: 45%;}
</style>
{% endblock body %}


{% block extrajs %}
<script type="text/javascript">

    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        if (value !== "") {
            $("div.table-like > div.row").filter(function () {
                $(this).toggle($(this).find('div.col.name').text().toLowerCase().indexOf(value) > -1).css('position', 'initial')
            });
        } else {
            $("div.table-like > div.row").css('position', 'absolute').show();
        }
    });

    var $table = $('.table-like').isotope({
        layoutMode: 'vertical',
        getSortData: {
            id: '.id parseInt',
            name: '.name',
            subcategory: '.subcategory',
            category: '.category',
        },

    });


    $('#sorts').on('click', 'button', function () {
        var sortValue = $(this).attr('data-sort-value');
        $table.isotope({sortBy: sortValue});
        console.log('order: ' + sortValue)
    });

    // change is-checked class on buttons
    $('.button-group').each(function (i, buttonGroup) {
        var $buttonGroup = $(buttonGroup);
        $buttonGroup.on('click', 'button', function () {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $(this).addClass('is-checked');
        });
    });


    $(document).on('click', '.btn-product-recipe', function () {
        let id = $(this).attr('pk');
        $.ajax({
            url: '/sales/product_recipe_edit/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': id},
             success: function (response) {
                $('#edition-recipe').html(response.form);
                $('#edition-recipe').modal('show');
             },
             fail: function (response) {
                toastr.error('Formulario con problemas', '¡Mensaje!');
             }
        });
    });
    $(document).on('click', '.quantity-on-hand', function () {
        var search = $(this).attr('pk');
        $.ajax({
            url: '/sales/get_product/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': search},
            success: function (response) {
                console.log(response);
                if(response.success){
                    $('#set-quantity-on-hand').html(response.form);
                    $('#set-quantity-on-hand').modal('show');
                }
            },
            fail: function (response) {
                console.log(response);
            }
        });
    });
    $(document).on('click', '.get-kardex', function () {
        var search = $(this).attr('pk');
        $.ajax({
            url: '/sales/get_kardex_by_product/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': search},
            success: function (response) {
                console.log(response);
                if(response.success){
                    $('#show-kardex').html(response.form);
                    $('#show-kardex').modal('show');
                }
            },
            fail: function (response) {
                console.log(response);
            }
        });
    });
    $(document).on('click', '.get-product-detail', function () {
        var search = $(this).attr('pk');
        $.ajax({
            url: '/sales/set_product_detail/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': search},
            success: function (response) {
                if(response.success){
                    console.log(response.serialized_data);
                    $('#set-product-detail').html(response.form);
                    $('#product-detail-grid').html(response.grid);
                    $('#set-product-detail').modal('show');
                }
            },
            fail: function (response) {
                console.log(response);
            }
        });
    });

    function showModalEdition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show');
        });
    };

    function showModalCreation(url) {
        $('#creation').load(url, function () {
            $(this).modal('show');
        });
    };


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                var file = $('#id_photo')[0].files[0]
                if (file){
                  $('.custom-file-label').text(file.name);
                }

            };
            reader.readAsDataURL(input.files[0]);
        }
    }



</script>
{% endblock extrajs %}
