{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Lista de ventas a clientes
{% endblock title %}

{% block body %}
    <!-- Content -->



    <div class="container-fluid my-3">

        <div class="row montserrat">
            <div class="col-sm-2">
                <form id="search-form" method="POST">
                    {% csrf_token %}


                    <div class="card small">
                        <div class="card-body">

                            <h5 class="mb-3">Consulta de ventas por unidad clientes</h5>

                            <div class="form-group">
                                <label class="my-1 mr-2" for="id_client">Cliente</label>

                                <select class="form-control my-1 mr-sm-2" id="id_client" name="client" required>
                                    <option value="0">Seleccione</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.names }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <hr class="mb-4">

                            <div class="form-group">
                                <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
                                <input type="date" class="form-control my-1 mr-sm-2" id="id-start-date" name="start-date"
                                       value="{{ formatdate }}">
                            </div>

                            <div class="form-group">
                                <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
                                <input type="date" class="form-control my-1 mr-sm-2" id="id-end-date" name="end-date"
                                       value="{{ formatdate }}">

                            </div>

                            <hr class="mb-4">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="by-units" id="id-by-units"
                                       value="UNIT">
                                <label class="form-check-label" for="id-by-units"> Por Unidades </label>
                            </div>

                            <hr class="mb-4">

                            <button type="submit" class="btn btn-green float-right my-1">
                                <i class="fas fa-search-dollar" id="btn-search"></i> Buscar
                            </button>

                        </div>
                    </div>

                </form>
            </div>
            <div class="col-sm-10 pl-0">
                <div class="card h-100">
                    <div class="card-body table-responsive" id="sales-grid-list"></div>
                </div>

            </div>
        </div>


    </div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
    loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $('#search-form').submit(function (event) {
            event.preventDefault();
            let data = new FormData($('#search-form').get(0));

            $('#btn-search').attr("disabled", "true");
            $('#sales-grid-list').empty();
            $('#sales-grid-list').html(loader);

            $.ajax({
                url: '/sales/purchases_of_clients/',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status == 200) {
                        toastr.success(response['message'], '¡Bien hecho!');
                        $('#sales-grid-list').html(response.grid);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status == 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                    }
                }
            });
            $('#btn-search').removeAttr("disabled", "false");

        });
    </script>
{% endblock extrajs %}
