{% for m in purchase_dict %}

    <div class="text-center container pt-4" style="border-color: #000000">
        <table class="table table-bordered table-sm" id="report-salary">
            <thead>
            <tr class="text-white bg-dark text-uppercase text-center">
                <td class="col-form-label">{{ m.month_names }}</td>
                <td class="col-form-label">Total</td>
            </tr>
            </thead>
            <tbody id="tbl-items">
            {% for s in m.sector_list %}
                <tr class="text-center">
                    <td class="align-middle text-center">{{ s.sector_name }}</td>
                    <td class="align-middle text-center">S/ {{ s.purchases_sum_total }}</td>
                </tr>
            {% endfor %}
            <tr class="text-center">
                <td class="align-middle text-center bg-light font-weight-bold">TOTAL MES:</td>
                <td class="align-middle text-center bg-light font-weight-bold">S/ {{ m.total_month }}</td>
            </tr>

            </tbody>
        </table>
    </div>

{% endfor %}