{% extends 'home.html' %}
{% block title %}
    Report | Ventas
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <div class="card-header text-left mt-2 mb-1 p-1" style="background: #3267b8">
            <div class="form-inline mt-1 mb-1 p-0">
                <table>
                    <tr>
                        <td class="pl-2 pr-2 text-white">Fecha inicial</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control form-control-sm"
                                                     id="id_date_initial"

                                                     value="{{ date_now }}" required>
                        </td>
                        <td class="pl-2 pr-2 text-white">Fecha final</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control form-control-sm" id="id_date_final"

                                                     value="{{ date_now }}" required>
                        </td>
                        <td class="pl-2 pr-2">
                           <select id="id_subsidiary" name="id_subsidiary_name" class="form-control">
                                <option value="0">TODOS</option>
                                {% for s in subsidiary_set %}
                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                          </select>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_show"
                                    class="btn btn-sm btn-success btn-block"> MOSTRAR REPORTE
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="container-graphic-sales"></div>
    </div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">




        $("#id_btn_show").click(function () {
            if ($("#id_date_initial").val() != '' && $("#id_date_final").val() != '') {
                $('#container-graphic-sales').empty();
                $('#container-graphic').empty();
                let pk = 1;
                let dates = {
                    "date_initial": $('#id_date_initial').val(),
                    "date_final": $('#id_date_final').val(),
                    "subsidiary": $('#id_subsidiary').val(),
                };
                $.ajax({
                    url: '/sales/get_report_sales_subsidiary/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'pk': pk, 'dates': JSON.stringify(dates),},
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        $('#container-graphic-sales').html(response.form);
                    },
                    error: function (response) {
                        toastr.error("PROBLEMAS AL MOSTRAR EL REPORTE", '¡MENSAJE!');
                    }
                });

            }
        });
    </script>
{% endblock extrajs %}
