{% for m in purchase_dict %}


    <table class="table table-bordered" id="report-salary">
        <thead>
        <tr class="text-white bg-dark text-uppercase text-center">
            <td class="col-form-label col-form-label-lg">{{ m.month_names }}</td>
            <td class="col-form-label col-form-label-lg">Total</td>
        </tr>
        </thead>
        <tbody id="tbl-items">
        {% for s in m.sector_list %}
            <tr class="text-center salary">
                <td class="col-form-label col-form-label-lg align-middle text-center">{{ s.sector_name }}</td>
                <td class="col-form-label col-form-label-lg align-middle text-center">{{ s.purchases_sum_total }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endfor %}