{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte de fierros vendidos
{% endblock title %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="card">

            <div class="card-header">Reporte de fierros vendidos</div>

            <div class="card-body">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
                    <input type="date" class="form-control my-1 mr-sm-2"
                           id="id-start-date"
                           name="start-date"
                           value="{{ formatdate }}">

                    <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
                    <input type="date" class="form-control my-1 mr-sm-2"
                           id="id-end-date"
                           name="end-date"
                           value="{{ formatdate }}">

                    <label class="mr-2 ml-2">Cliente</label>

                    <select class="form-control" id="id_client">
                        <option value="T">-- TODOS --</option>
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.names }}</option>
                        {% endfor %}
                    </select>

                    <button type="button" class="btn btn-blue my-1 ml-2" id="btn-search">
                        <i class="fas fa-search-dollar"></i> Buscar
                    </button>

                </form>

            </div>
        </div>

        <div class="card">
            <div class="card-body table-responsive" id="tbl-orders"></div>
        </div>
    </div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        $('#btn-search').click(function () {

            let _client_id = $('#id_client').val();
            let _start_date = $('#id-start-date').val();
            let _end_date = $('#id-end-date').val();

            $.ajax({
                url: '/sales/sold_ball_request/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'client_id': _client_id,
                    'start_date': _start_date,
                    'end_date': _end_date,
                },
                success: function (response) {
                    $('#tbl-orders').html(response['grid']);

                },
            });
        });

    </script>


{% endblock extrajs %}
