<table class="table table-bordered" id="report-payments">
    <thead>
    <tr class="text-white bg-dark text-uppercase">

        <td class="col-form-label col-form-label-lg">CLIENTE</td>
        <td class="col-form-label col-form-label-lg">CHECK</td>
        <td class="col-form-label col-form-label-lg">FECHA DE PAGO</td>
        <td class="col-form-label col-form-label-lg">TOTAL PAGADO (AGRUPADO)</td>



        <td class="col-form-label col-form-label-lg">ID DE VENTA</td>
        <td class="col-form-label col-form-label-lg">FECHA DE VENTA</td>
        <td class="col-form-label col-form-label-lg">MONTO DE VENTA</td>

        <td class="col-form-label col-form-label-lg">PENDIENTE</td>
        <!--<td class="bg-warning">price_accumulated</td>-->
        <td class="col-form-label col-form-label-lg">MONTO</td>
        <td class="col-form-label col-form-label-lg">TRANSACCION</td>
        <td class="col-form-label col-form-label-lg">COD. OPERACION</td>
    </tr>
    </thead>
    <tbody>


    {% for client in client_dict %}

<tr class="tbl-row">

    {% for lpg in client.loan_payment_group %}


        {% if forloop.first %}
            <td class="col-form-label col-form-label-lg align-middle text-center" rowspan="{{ client.loan_payment_count }}">{{ client.client_names }}</td>
        {% endif %}

            <td class="col-form-label col-form-label-lg align-middle text-center" rowspan="{{ lpg.rows }}">
                 <input class="order-programming align-middle check-payment" type="checkbox"  style=" transform: scale(2.7);" value="{{ lpg.lps }}" {% if lpg.check %}checked{% endif %} >
            </td>

            <td class="col-form-label col-form-label-lg align-middle text-center" rowspan="{{ lpg.rows }}">{{ lpg.date|date:"d-m-y" }}</td>
            <td class="col-form-label col-form-label-lg align-middle text-center bg-light" rowspan="{{ lpg.rows }}">S/ {{ lpg.sum|safe }}</td>

            {% for lp in lpg.loan_payment_dict %}
                {% if not forloop.first %}<tr>{% endif %}

                <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1" rowspan="{{ lp.transaction_count }}">{{ lp.order_obj.id }}</td>
                <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1" rowspan="{{ lp.transaction_count }}">{{ lp.order_obj.create_at|date:"d-m-y" }}</td>
                <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1" rowspan="{{ lp.transaction_count }}">{{ lp.total_order|floatformat:2 }}</td>

                <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1" rowspan="{{ lp.transaction_count }}" lp="{{ lp.id }}">{{ lp.pending|floatformat:2 }}</td>
                <!--<td data-order="{{ lp.order_obj.id }}" class="align-middle text-center bg-warning" rowspan="{{ lp.transaction_count }}">{{ lp.price_accumulated|floatformat:2 }}</td>-->
                <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1" rowspan="{{ lp.transaction_count }}">{{ lp.price|floatformat:2 }}</td>
                {% for t in lp.transaction %}
                    <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1">{% if t.type == 'E' %}EFECTIVO{% elif t.type == 'D' %}DEPOSITO{% elif t.type == 'F' %}FISE{% endif %}</td>
                    <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1">{% if t.operation_code == 'None' %}-{% else %}{{ t.operation_code|default:'-' }}{% endif %}</td></tr>
                    {% empty %}
                    <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1"></td>
                    <td data-order="{{ lp.order_obj.id }}" class="align-middle text-center p-1"></td></tr>
                {% endfor %}

            {% endfor %}

    {% endfor %}


    {% endfor %}



    </tbody>
</table>

<button class="btn btn-success" id="printReportExcel">EXCEL</button>

<script type="text/javascript">
    $('#printReportExcel').click(function () {
        $("#report-payments").table2excel({filename: "Reporte_Pagos_Agrupados.xls"});
    });


    </script>