{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte Masa Completa
{% endblock title %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="card">

            <div class="card-header">Reporte Masa Completa</div>

        </div>

        <div class="card">
            <div class="card-body table-responsive" id="tbl-mass">
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr class="text-white text-uppercase">
                        <td class="bg-dark align-middle text-center" rowspan="3">SEDE</td>
                        <td class="bg-dark align-middle text-center" colspan="7">BALON DE 10 KG</td>
                        <td class="bg-dark align-middle text-center" colspan="7">BALON DE 15 KG</td>
                        <td class="bg-dark align-middle text-center" colspan="7">BALON DE 5 KG</td>
                        <td class="bg-dark align-middle text-center" colspan="7">BALON DE 45 KG</td>
                    </tr>
                    <tr class="text-white text-uppercase">
                        <td class="bg-dark align-middle text-center" colspan="4">BALONES LLENOS</td>
                        <td class="bg-dark align-middle text-center" colspan="3">BALONES VACIOS</td>

                        <td class="bg-dark align-middle text-center" colspan="4">BALONES LLENOS</td>
                        <td class="bg-dark align-middle text-center" colspan="3">BALONES VACIOS</td>

                        <td class="bg-dark align-middle text-center" colspan="4">BALONES LLENOS</td>
                        <td class="bg-dark align-middle text-center" colspan="3">BALONES VACIOS</td>

                        <td class="bg-dark align-middle text-center" colspan="4">BALONES LLENOS</td>
                        <td class="bg-dark align-middle text-center" colspan="3">BALONES VACIOS</td>
                    </tr>
                    <tr class="text-white text-uppercase">
                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">PRESTADOS</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">PRESTADOS</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">PRESTADOS</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">PRESTADOS</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>

                        <td class="bg-dark align-middle text-center" colspan="1">PLANTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">RUTA</td>
                        <td class="bg-dark align-middle text-center" colspan="1">CARRO(R)</td>


                    </tr>
                    </thead>
                    <tbody>
                    {% for k, s in balls.items %}
                        <tr>
                            <td class="align-middle text-center">{{ s.subsidiary_name }}</td>
                            {% for key, value in s.distributions.items %}
                                <td class="align-middle text-center">{% if value.stock_ball == 0 %}-{% else %}{{ value.stock_ball|safe|floatformat:0 }}{% endif %}</td>
                                <td class="align-middle text-center">{% if value.car_ball_filled == 0 %}-{% else %}{{ value.car_ball_filled|safe|floatformat:0 }}{% endif %}</td>
                                <td class="align-middle text-center">{% if value.ball_loan == 0 %}-{% else %}{{ value.ball_loan|safe|floatformat:0 }}{% endif %}</td>
                                <td class="align-middle text-center">{% if value.distribution_ball_filled == 0 %}-{% else %}{{ value.distribution_ball_filled|safe|floatformat:0 }}{% endif %}</td>

                                <td class="align-middle text-center">{% if value.stock_iron == 0 %}-{% else %}{{ value.stock_iron|safe|floatformat:0 }}{% endif %}</td>
                                <td class="align-middle text-center">{% if value.car_ball_void == 0 %}-{% else %}{{ value.car_ball_void|safe|floatformat:0 }}{% endif %}</td>
                                <td class="align-middle text-center">{% if value.distribution_ball_void == 0 %}-{% else %}{{ value.distribution_ball_void|safe|floatformat:0 }}{% endif %}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="align-middle text-center bg-dark text-white">
                        <td class="align-middle text-center">TOTAL EN PLANTA</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_ball_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_filled_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_ball_loan_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_filled_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_iron_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_void_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_void_10|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="1">{{ sum_ball_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_filled_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_ball_loan_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_filled_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_iron_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_void_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_void_15|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="1">{{ sum_ball_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_filled_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_ball_loan_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_filled_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_iron_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_void_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_void_5|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="1">{{ sum_ball_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_filled_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_ball_loan_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_filled_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_iron_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_route_void_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="1">{{ sum_car_void_45|safe|floatformat:0 }}</td>
                    </tr>

                    <tr class="align-middle text-center bg-dark text-white">
                        <td class="align-middle text-center">SUMA POR TIPO</td>
                        <td class="align-middle text-center" colspan="4">{{ sum_total_ball_filled_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="3">{{ sum_total_ball_void_10|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="4">{{ sum_total_ball_filled_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="3">{{ sum_total_ball_void_15|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="4">{{ sum_total_ball_filled_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="3">{{ sum_total_ball_void_5|safe|floatformat:0 }}</td>

                        <td class="align-middle text-center" colspan="4">{{ sum_total_ball_filled_45|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="3">{{ sum_total_ball_void_45|safe|floatformat:0 }}</td>
                    </tr>
                    <tr class="align-middle text-center bg-dark text-white">
                        <td class="align-middle text-center">SUMA TOTAL</td>
                        <td class="align-middle text-center" colspan="7">{{ sum_total_ball_10|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="7">{{ sum_total_ball_15|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="7">{{ sum_total_ball_5|safe|floatformat:0 }}</td>
                        <td class="align-middle text-center" colspan="7">{{ sum_total_ball_45|safe|floatformat:0 }}</td>

                    </tr>

                    </tfoot>
                </table>

            </div>
        </div>
    </div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">


    </script>


{% endblock extrajs %}