{% load operations %}
<div class="card p-0  m-0" style="border-color: #2b579a">
    <div class="card-header text-center pb-1" style="background: #2b579a">
        <h6 class="card-title text-white">REPORTES GRAFICOS</h6>

    </div>
    <div id="id-print">
        <div class="card-body p-0  m-0">
            <section class="full-box page-content active" style="height: 700px; overflow-y: scroll;">
                <div class="col-lg-12 col-md-12 p-3  m-0">
                    <div class="card p-0  m-0" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">VENTAS REALIZADAS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-graphic-order" style="height: 500px; width: 100%;"></div>
                                <div class="p-2">
                                    <button class="btn btn-warning" id="printChartbar">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">COBRANZAS REALIZADAS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0 ">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-graphic-cash" style="height: 500px; width: 100%;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart1">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">VENTAS Y COBRANZAS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-graphic-total" style="height: 500px; width: 100%;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart2">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">COMPRAS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-purchase" style="height: 500px; width: 100%;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart3">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">PAGOS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-pay" style="height: 500px; width: 100%;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart4">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">COMPRAS Y PAGOS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-graphic-purchase-cash" style="height: 500px; width: 100%;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart5">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">REPARTO - PRESTADOS Y RECUPERADOS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container4" class="w-100" style="height: 500px;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart6">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">REPARTO - VENTAS VS GASTOS</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container5" class="w-100" style="height: 500px;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart7">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-0  m-0  mt-5" style="border-color: #2b579a">
                        {#                <div class="card-header text-center pb-1" style="background: #2b579a">#}
                        {#                    <h6 class="card-title text-white">VENTAS POR DISTRITO</h6>#}
                        {#                </div>#}
                        <div class="card-body p-0  m-0">
                            <div class="col-lg-12 col-md-12 p-0  m-0">
                                <div id="container-district" class="w-100" style="height: 500px;"></div>
                                 <div class="p-2">
                                    <button class="btn btn-warning" id="printChart8">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script type="text/javascript">
    var chartbar = new CanvasJS.Chart("container-graphic-total", {
        animationEnabled: true,
        title: {
            text: "TOTAL DE VENTAS Y COBRANZAS",
            fontSize: 20,
            culture: "es",
        },
        axisX: {
            titleFontSize: 25,
            labelFontSize: 25,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "VENTA",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC"
        },
        axisY2: {
            title: "COBRANZA",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E"

         },
        toolTip: {
            shared: true,
            culture: "es",
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            culture: "es",
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Venta",
            culture: "es",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 16,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "VENTA",
            showInLegend: true,
            dataPoints: {{ sales_total|safe }}
        },
            {
                type: "column",
                name: "Cobranza",
                indexLabelPlacement: "outside",
                indexLabelFontSize: 16,
                indexLabelFontStyle: "Bold",
                indexLabel: "{y}",
                indexLabelOrientation: "horizontal",
                legendText: "COBRANZA",
                axisYType: "secondary",
                showInLegend: true,
                culture: "es",
                dataPoints: {{ cash_total|safe }}
            }]
    });
    chartbar.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chartbar.render();
    }

    document.getElementById("printChart2").addEventListener("click", function () {
        chartbar.print();
    });

    var chart1 = new CanvasJS.Chart("container-graphic-order", {
        animationEnabled: true,
        title: {
            text: "Ventas realizadas por sucursal",
            fontSize: 22,
            culture: "es"
        },
        axisX: {
            valueFormatString: "DD/MM/YY",
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "Ventas en soles (S/.)",
            prefix: "S/.",
            titleFontSize: 20,
            labelFontSize: 20,

        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            fontWeight: "bold",
            itemclick: toggleDataSeries
        },
        toolTip: {
            shared: true
        },
        data: [
            {% for s in sales %}
                {
                    name: "{{ s|get:'subsidiary' }}",
                    indexLabelFontStyle: "Bold",
                    indexLabelFontSize: 16,
                    indexLabel: "{y}",
                    indexLabelPlacement: "outside",
                    indexLabelOrientation: "horizontal",
                    type: "spline",
                    yValueFormatString: "#0.##",
                    showInLegend: true,
                    dataPoints: [
                        {% for s2 in s|get:'set' %}
                            {
                                x: new Date(
                                    {{ s2|get:'x'|date:"Y" }},
                                    {{ s2|get:'x'|date:"m" }} -1,
                                    {{ s2|get:'x'|date:"d" }}
                                ),
                                y: {{ s2|get:'y' }}
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ]
    });
    chart1.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chart1.render();
    }

    document.getElementById("printChartbar").addEventListener("click", function () {
        chart1.print();
    });

    var chart2 = new CanvasJS.Chart("container-graphic-cash", {
        animationEnabled: true,
        title: {
            text: "Cobranza realizadas por sucursal",
            fontSize: 22
        },
        axisX: {
            valueFormatString: "DD/MM/YY",
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "Cobranzas en soles (S/.)",
            prefix: "S/.",
            titleFontSize: 20,
            labelFontSize: 20
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        toolTip: {
            shared: true
        },
        data: [
            {% for p in payment %}

                {
                    name: "{{ p|get:'subsidiary' }}",
                    indexLabelFontStyle: "Bold",
                    indexLabelFontSize: 16,
                    indexLabel: "{y}",
                    indexLabelPlacement: "outside",
                    indexLabelOrientation: "horizontal",
                    type: "spline",
                    yValueFormatString: "#0.##",
                    showInLegend: true,
                    dataPoints: [
                        {% for p2 in p|get:'set' %}
                            {
                                x: new Date(
                                    {{ p2|get:'x'|date:"Y" }},
                                    {{ p2|get:'x'|date:"m" }} -1,
                                    {{ p2|get:'x'|date:"d" }}
                                ),
                                y: {{ p2|get:'y' }}
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ]
    });
    chart2.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chart2.render();
    }

    document.getElementById("printChart1").addEventListener("click", function () {
        chart2.print();
    });
    /****** COMPRAS ******/

    var chartpurchaselineal = new CanvasJS.Chart("container-purchase", {
        animationEnabled: true,
        title: {
            text: "Compras realizadas por Sucursal",
            fontSize: 22
        },
        axisX: {
            valueFormatString: "DD/MM/YY",
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "Compras en soles (S/.)",
            prefix: "S/.",
            titleFontSize: 20,
            labelFontSize: 20
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        toolTip: {
            shared: true
        },
        data: [
            {% for p in purchase_susbsidiary %}

                {
                    name: "{{ p|get:'subsidiary' }}",
                    indexLabelFontStyle: "Bold",
                    indexLabelFontSize: 16,
                    indexLabel: "{y}",
                    indexLabelPlacement: "outside",
                    indexLabelOrientation: "horizontal",
                    type: "spline",
                    yValueFormatString: "#0.##",
                    showInLegend: true,
                    dataPoints: [
                        {% for p2 in p|get:'set' %}
                            {
                                x: new Date(
                                    {{ p2|get:'x'|date:"Y" }},
                                    {{ p2|get:'x'|date:"m" }} -1,
                                    {{ p2|get:'x'|date:"d" }}
                                ),
                                y: {{ p2|get:'y' }}
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ]
    });
    chartpurchaselineal.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chartpurchaselineal.render();
    }

    document.getElementById("printChart3").addEventListener("click", function () {
        chartpurchaselineal.print();
    });
    /*************** GASTOS **********************/


    var chartpaylineal = new CanvasJS.Chart("container-pay", {
        animationEnabled: true,
        title: {
            text: "Pagos realizadas por Sucursal",
            fontSize: 22
        },
        axisX: {
            valueFormatString: "DD/MM/YY",
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "Pagos soles (S/.)",
            prefix: "S/.",
            titleFontSize: 20,
            labelFontSize: 20
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        toolTip: {
            shared: true
        },
        data: [
            {% for p in cash_pay_subsidiary %}

                {
                    name: "{{ p|get:'subsidiary' }}",
                    indexLabelFontStyle: "Bold",
                    indexLabelFontSize: 16,
                    indexLabel: "{y}",
                    indexLabelPlacement: "outside",
                    indexLabelOrientation: "horizontal",
                    type: "spline",
                    yValueFormatString: "#0.##",
                    showInLegend: true,
                    dataPoints: [
                        {% for p2 in p|get:'set' %}
                            {
                                x: new Date(
                                    {{ p2|get:'x'|date:"Y" }},
                                    {{ p2|get:'x'|date:"m" }} -1,
                                    {{ p2|get:'x'|date:"d" }}
                                ),
                                y: {{ p2|get:'y' }}
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ]
    });
    chartpaylineal.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chartpaylineal.render();
    }

    document.getElementById("printChart4").addEventListener("click", function () {
        chartpaylineal.print();
    });

    /**** COMPRAS VS PAGOS ****/

    var chartbarpurchase = new CanvasJS.Chart("container-graphic-purchase-cash", {
        animationEnabled: true,
        title: {
            text: "TOTAL DE COMPRAS Y PAGOS",
            fontSize: 20,
        },
        axisX: {
            titleFontSize: 25,
            labelFontSize: 25,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "COMPRAS",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC"
        },
        axisY2: {
            title: "PAGOS",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E"

        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Compras",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 16,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "COMPRAS",
            showInLegend: true,
            dataPoints: {{ purchase_total|safe }}
        },
            {
                type: "column",
                name: "Pagos",
                indexLabelPlacement: "outside",
                indexLabelFontSize: 16,
                indexLabelFontStyle: "Bold",
                indexLabel: "{y}",
                indexLabelOrientation: "horizontal",
                legendText: "PAGOS",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints: {{ cash_total_purchase|safe }}
            }]
    });
    chartbarpurchase.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chartbarpurchase.render();
    }

    document.getElementById("printChart5").addEventListener("click", function () {
        chartbarpurchase.max
        chartbarpurchase.print();
    });

    /**************************/

    var chartsubsidiary = new CanvasJS.Chart("container4", {
        animationEnabled: true,
        title: {
            text: "BALONES PRESTADO Y RECUPERADOS POR SEDE",
            fontSize: 20,
        },
        axisX: {
            titleFontSize: 25,
            labelFontSize: 25,
            labelFontWeight: "bold",
        },
        axisY: {
            title: "Cantidad recuperada",
            titleFontSize: 20,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC",
            maximum: 10000,
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#f8f8f8"
            }
        },
        axisY2: {
            title: "Cantidad prestada",
            titleFontSize: 20,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E",
            maximum: 10000,
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#F8F8F8"
            }

        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Recuperados",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 16,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "RECUPERADOS",
            showInLegend: true,
            dataPoints: {{ recovered_set|safe }}
        },
            {
                type: "column",
                name: "Prestados",
                indexLabelPlacement: "outside",
                indexLabelFontSize: 16,
                indexLabelFontStyle: "Bold",
                indexLabel: "{y}",
                indexLabelOrientation: "horizontal",
                legendText: "PRESTADOS",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints: {{ borrowed_set|safe }}
            }]
    });
    chartsubsidiary.render();
    document.getElementById("printChart6").addEventListener("click", function () {
        chartsubsidiary.print();
    });
    /**************************/

    data33 = [
        {% for key, value in sales_vs_expenses.items %}
            {
                'label': "{{ value.name }}",
                'y': {{ value.i_sales }}
            },
        {% endfor %}
    ];
    data44 = [
        {% for key, value in sales_vs_expenses.items %}
            {
                'label': "{{ value.name }}",
                'y': {{ value.i_expenses }}
            },
        {% endfor %}
    ];


    var chartexpenses = new CanvasJS.Chart("container5", {
        animationEnabled: true,
        title: {
            text: "VENTAS Y GASTOS REPARTO",
            fontSize: 20,
        },
        axisY: {
            title: "Ventas (S/)",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC",
            maximum: 400000,
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#f8f8f8"
            }
        },
        axisX: {
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },
        axisY2: {
            title: "Gastos (S/)",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E",
            maximum: 400000,
            crosshair: {
                enabled: true,
                color: "orange",
                labelFontColor: "#F8F8F8"
            }

        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Ventas S/.",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 16,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "VENTAS S/.",
            showInLegend: true,
            dataPoints: data33
        },
            {
                type: "column",
                name: "Gastos S/.",
                indexLabelPlacement: "outside",
                indexLabelFontSize: 16,
                indexLabelFontStyle: "Bold",
                indexLabel: "{y}",
                indexLabelOrientation: "horizontal",
                legendText: "GASTOS S/.",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints: data44
            }]
    });
    chartexpenses.render();
    document.getElementById("printChart7").addEventListener("click", function () {
        chartexpenses.print();
    });
    /****
     var a = {{ recovered_set|safe }};
     var b = {{ borrowed_set|safe }};


     var res = createObj(a, b);


     console.log(a);
     console.log(b);
     console.log(res);

     c = diffDict(b, a);



     console.log(c);

     function createObj(obj1, obj2){
    var food = {};
    for (var i in obj1) {
      food[i] = obj1[i];
    }
    for (var j in obj2) {
      food[j] = obj2[j];
    }
    return food;
};

     function diffDict(obj1, obj2){
    var diffs = {};

    for (key in obj2) {
        if (obj2.hasOwnProperty(key)) {
            if (!obj1[key] && obj1[key] !== obj2[key] ) {
                diffs[key] = obj2[key];
            }
        }
    }
    return diffs;
};
     */
    /**REPORTE DE VENTAS POR PLACA**/

    /**REPORTE DE VENTAS POR DISTRITO**/
    var chart_district = new CanvasJS.Chart("container-district", {
        animationEnabled: true,
        title: {
            text: "VENTAS POR DISTRITOS",
            fontSize: 20,
        },
        axisY: {
            title: "VENTA",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC"
        },
        axisY2: {
            title: "VENTA",
            titleFontSize: 19,
            labelFontSize: 20,
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E"

        },
        axisX: {
            titleFontSize: 20,
            labelFontSize: 20,
            labelFontWeight: "bold",
        },

        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            fontSize: 25,
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Venta",
            indexLabelPlacement: "outside",
            indexLabelFontSize: 20,
            indexLabelFontStyle: "Bold",
            indexLabel: "{y}",
            indexLabelOrientation: "horizontal",
            legendText: "VENTAS DE DISTRITO",
            showInLegend: true,
            dataPoints: {{ array_district|safe }}
        }]
    });
    chart_district.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        chart_district.render();
    }

    document.getElementById("printChart8").addEventListener("click", function () {
        chart_district.print();
    });
</script>