{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte
{% endblock title %}

{% block body %}


    <div class="container-fluid pt-3">
        <div class="card">

            <div class="card-header">
                <label class="col-form-label col-form-label-lg">Reporte de comprar por rubro y mes</label>
            </div>

            <div class="card-body">

                <form class="form-inline" id="search-form" method="POST">
                    {% csrf_token %}

                    <label class="my-1 ml-2 mr-2" for="id_year">Año: </label>
                    <select id="id_year" name="year"
                            class="form-control">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option selected value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                    </select>

                    <button type="submit" class="btn btn-blue my-1 ml-2" id="btn-search">
                        <i class="fas fa-search-dollar"></i> Buscar
                    </button>

                    {#                    <button type="button" class="btn my-1 ml-2 text-white" onclick="ReportCategoryProductExcel()" id="printReportExcel"#}
                    {#                            style="background: #00960f">#}
                    {#                        <i class="far fa-file-excel"></i> Exportar a Excel#}
                    {#                    </button>#}
                    <a onclick="excelTickets();" class="btn btn-success text-white m-1">
                        <span class="fa fa-file-excel"></span> Exportar Excel
                    </a>
                </form>

            </div>
        </div>

        <div class="card">

            <div class="card-body" id="tbl-purchases">

            </div>

        </div>
    </div>






{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';


        $('#search-form').submit(function (event) {
            event.preventDefault();
            let data = new FormData($('#search-form').get(0));

            $('#btn-search').attr("disabled", "true");
            $('#tbl-purchases').empty();
            $('#tbl-purchases').html(loader);

            $.ajax({
                url: '/sales/purchase_report_by_product_category/',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response['message'], '¡Bien hecho!');
                        $('#tbl-purchases').html(response.grid);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error!');
                    }
                }
            });
            $('#btn-search').removeAttr("disabled", "false");

        });

        function ReportCategoryProductExcel() {
            {#let m = $('#month').val()#}
            let year = $('#id_year').val()
            if (year) {
                {#window.location.href = "{% url 'sales:reportkardex' month=m pk=p %}";#}
                {#window.open("/sales/reportkardex/" + m + "/" + p + "/");#}
                {#window.open("/sales/reportkardex/" + m + "/" + p + "/", '_top');#}
                window.open("/sales/report_category_product/" + year + "/", '_top');
            }
        }

        function excelTickets() {

            $("#excel-data-grid").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "Worksheet vouchers",
                filename: "reporte_de_gatos_costo",//do not include extension
                fileext: ".xlsx", // file extension
                preserveColors: true

            });
        }

    </script>

{% endblock extrajs %}