<table class="table table-sm table-bordered">
    <thead>
    <tr class="text-white small text-uppercase">
        <td class="bg-primary">#</td>
        {#        <td class="bg-primary">ID</td>#}
        {#        <td class="bg-primary">TIPO</td>#}
        {#        <td class="bg-success">PLACA</td>#}
        {#        <td class="bg-success">RESPONSABLE</td>#}
        <td class="bg-primary">CLIENTE</td>
        <td class="bg-primary">FECHA DE VENTA</td>

        <td class="bg-info">PROD.</td>
        <td class="bg-info">UND</td>
        <td class="bg-info">CALIDAD</td>
        <td class="bg-info">CANT.</td>
        <td class="bg-info">PREC.</td>
        <td class="bg-info">IMP.</td>

        <td class="bg-secondary">FECHA OPERACIÓN</td>
        <td class="bg-secondary">CANTIDAD PAGADA BALONES</td>
        {#        <td class="bg-secondary">CANTIDAD VALES FISE</td>#}
        <td class="bg-secondary">MONTO PAGADO</td>
        {#        <td class="bg-secondary">PLACA</td>#}
        <td class="bg-secondary">TIPO PAGO</td>
        <td class="bg-secondary">COD. OPERARCION</td>
{#        <td class="bg-secondary">TOTAL CANTIDAD ENTREGADA BALONES</td>#}
        {#        <td class="bg-secondary">TOTAL CANTIDAD VALES FISE</td>#}
        {#        <td class="bg-secondary">TOTAL PAGADO GLP</td>#}
{#        <td class="bg-secondary">TOTAL PAGADO BALONES</td>#}
        {#        <td class="bg-secondary">TOTAL CANTIDAD CAMBIADA</td>#}

    </tr>
    </thead>
    <tbody>
    {% for order in dict_orders %}
        <tr>
            <td class="align-middle text-center" rowspan="{{ order.order_detail_count }}">{{ order.id }}</td>
            <td class="align-middle text-center" rowspan="{{ order.order_detail_count }}">{{ order.client_names }}</td>
            <td class="align-middle text-center" rowspan="{{ order.order_detail_count }}">{{ order.create_at|date:"d-m-y" }}</td>
            {% for od in order.order_detail_dict %}
                {% if not forloop.first %}
                    <tr>{% endif %}
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.product_name }}</td>
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.unit_name }}</td>
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.unit_id }}</td>
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.quantity_sold|safe|floatformat:0 }}</td>
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.price_unit }}</td>
                <td class="align-middle text-center" rowspan="{{ od.loan_payment_count }}">{{ od.subtotal|safe|floatformat:2 }}</td>
                {% for lp in od.loan_payment_dict %}
                    {% if not forloop.first %}
                        <tr>{% endif %}
                <td class="align-middle text-center">{{ lp.operation_date|date:"d-m-y" }}</td>
                <td class="align-middle text-center">{{ lp.quantity|safe|floatformat:0 }}</td>
                <td class="align-middle text-center">{{ lp.transaction_payment_set.first.payment }}</td>
                {% if lp.transaction_payment_set.first.type == 'E' %}
                    <td class="align-middle text-center">EFECTIVO</td>
                {% elif lp.transaction_payment_set.first.type == 'D' %}
                    <td class="align-middle text-center">DEPOSITO</td>
                {% endif %}
                {% if lp.transaction_payment_set.first.operation_code == 'None' %}
                    <td class="align-middle text-center">-</td>
                {% elif lp.transaction_payment_set.first.operation_code != 'None' %}
                    <td class="align-middle text-center">{{ lp.transaction_payment_set.first.operation_code }}</td>
                {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}


    </tbody>
</table>