{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte Masa Completa
{% endblock title %}

{% block body %}

    <div class="container-fluid pt-3">
        <div class="card">

            <div class="card-header">

                <label class="col-form-label col-form-label-lg">Reporte Masa Completa</label>

            </div>

        </div>

        <div class="card" id="content-mass">
            <div class="card-body table-responsive">

                <form class="form-inline" id="search-form" method="POST">
                    {% csrf_token %}

                    <label class="my-1 mr-2" for="id-start-date">DESDE :</label>
                    <input type="date" class="form-control" id="id-start-date" name="start-date"
                           value="{{ formatdate }}" required/>

                    <label class="my-1 mr-2" for="id-end-date">HASTA :</label>
                    <input type="date" class="form-control" id="id-end-date" name="end-date" value="{{ formatdate }}"
                           required/>

                    <button type="submit" class="btn btn-info my-1">
                        <i class="fas fa-search-dollar" id="btn-search"></i> Buscar
                    </button>


                </form>

                <div id="distribution-grid-list" class="table-responsive"></div>


            </div>
        </div>
    </div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        $('#search-form').submit(function (event) {
            event.preventDefault();
            let _data = new FormData($('#search-form').get(0));
            $("#btn-search").attr("disabled", "true");
            $.ajax({
                url: '/sales/report_ball_all_mass/',
                type: "POST",
                data: _data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#distribution-grid-list').html(response.grid);
                        toastr.info(response['message'], '¡Bien hecho!');
                    } else {
                        toastr.info(response['error'], '¡Atencion!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.info(jqXhr.responseJSON.error, '¡Inconcebible!');
                    }
                }
            });

            $("#btn-search").removeAttr("disabled", "false");
        });
    </script>
{% endblock extrajs %}