{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | ESTADO DE CUENTA
{% endblock title %}

{% block body %}


    <div class="container mt-3">

        <table class="table table-bordered">
            <thead>
            <tr class="text-white text-uppercase  text-center">
                <td class="bg-secondary">Nro</td>
                <td class="bg-secondary">Conductor</td>
                <td class="bg-secondary">Placa</td>
                <td class="bg-secondary">Productos</td>
                <td class="bg-dark">balones llenos</td>
            </tr>
            </thead>
            <tbody>
            {% for key, value in pilot_dict.items %}
                <tr>
                    <td class="align-middle text-center">{{ value.pilot_id }}</td>
                    <td class="align-middle text-center">{{ value.pilot_names }}</td>
                    <td class="align-middle text-center">{{ value.license_plate }}</td>
                    <td class="align-middle">
                        <div class="container">
                            <div class="row">
                            <div class="col-6 text-left">DESCRIPCION</div>
                            <div class="col-2 text-center">UND</div>
                            <div class="col-2 text-center">CANT</div>
                            <div class="col-2 text-right">PRECIO</div>
                        </div>
                        {% for k, v in value.balls_in_car.items %}
                        <div class="row">
                            <div class="col-6 text-left">{{ v.product_name }}</div>
                            <div class="col-2 text-center">{{ v.unit_name }}</div>
                            <div class="col-2 text-center">{{ v.quantity|safe|floatformat:0 }}</div>
                            <div class="col-2 text-right">{{ v.bg_price|safe }}</div>
                        </div>
                        {% endfor %}
                        </div>


                    </td>
                    <td class="align-middle text-center bg-dark text-white">{{ value.sum_total|floatformat:0 }}</td>

                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="">
                <td class="align-middle text-center" colspan="4">SUMA TOTAL</td>
                <td class="align-middle text-center bg-dark text-white">{{ sum_total|safe|floatformat:0 }}</td>
            </tr>
            </tfoot>

        </table>



        <table class="table table-bordered">
            <thead>
            <tr class="text-center text-uppercase">
                <td class="bg-secondary text-white">Nro</td>
                <td class="bg-secondary text-white">Cliente</td>
                <td class="bg-warning text-dark">PAGO FALTANTE (EFECTIVO)</td>
                <td class="bg-dark text-white">CANTIDAD FALTANTE (FIERROS)</td>
            </tr>
            </thead>
            <tbody>
            {% for key, value in client_dict.items %}
                <tr>
                    <td class="align-middle text-center">{{ value.client_id }}</td>
                    <td class="align-middle text-center">{{ value.client_names }}</td>
                    <td class="align-middle text-center bg-warning text-dark">{{ value.sum_total_remaining_repay_loan|safe|floatformat:2 }}</td>
                    <td class="align-middle text-center bg-dark text-white">{{ value.sum_total_remaining_return_loan|safe|floatformat:0 }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="">
                <td class="align-middle text-center" colspan="2">SUMA TOTAL</td>
                <td class="align-middle text-center bg-warning text-dark">{{ summary_sum_total_remaining_repay_loan|safe|floatformat:2 }}</td>
                <td class="align-middle text-center bg-dark text-white">{{ summary_sum_total_remaining_return_loan|safe|floatformat:0 }}</td>
            </tr>
            </tfoot>

        </table>


    </div>

{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">


    </script>
{% endblock extrajs %}
