<div class="modal-dialog modal-dialog-centered modal-lg" role="document">

    <div class="modal-content small">

        <div class="modal-header" style="background: #045ebf">
            <h6 class="modal-title  text-white">Registro de salidas reparto</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form action="" method="POST" id="form-distribution_output">
            {% csrf_token %}

            <div class="modal-body">
                <table class="table-sm" style="width: 100%" id="id-table-form">
                    <tr>
                        <td class="align-middle" style="width: 6%">Conductor</td>
                        <td colspan="3" class="align-middle" style="width: 34%">
                            <select class="form-control form-control-sm  text-uppercase" id="id_pilot" name="pilot"
                                    required>
                                <option disabled selected value="">Seleccione</option>
                                {% for employee in employees %}
                                    <option value="{{ employee.id }}">
                                        {{ employee.full_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td rowspan="3" class="align-top text-center" id="item-details-distribution-last"
                            style="width: 60%">

                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle" style="width: 6%">Fecha</td>
                        <td style="width: 8%" class="align-middle text-center">
                            <input type="date" class="form-control form-control-sm" id="id-date-output"
                                   name="date-output" value="{{ date_now }}"
                                   required>
                        </td>
                        <td class="align-middle" style="width: 6%">Placa</td>
                        <td style="width: 20%" class="align-middle">
                            <select class="form-control form-control-sm" id="id_truck" name="truck" required>
                                <option disabled selected value=""> Seleccione</option>
                                {% for t in truck_set %}
                                    <option value="{{ t.id }}">
                                        {{ t.license_plate }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle"></td>
                        <td class="align-middle text-center" colspan="1">
                            <button id="add-detail" type="button" class="btn btn-success btn-sm p-2">Agregar productos
                            </button>
                        </td>
                        <td class="align-middle">Numero Guia</td>
                        <td class="align-middle text-center">
                            <input type="text" class="form-control form-control-sm" id="id-guide"
                                   name="guide" placeholder="G001-0003">
                        </td>
                    </tr>
                </table>
                <div class="card" style="border-color: #fffffe; background: #fffff6">
                    <table id="id_distribution_output"
                           class="table table-sm table-striped align-content-center table-bordered response"
                           cellspacing="0" style="width: 100%">

                        <thead>
                        <tr class="text-center text-white align-middle" style="height: 28px; background: #0273ec">
                            <th style="width: 3%" class="font-weight-normal">#</th>
                            <th style="width: 24%" class="font-weight-normal">Producto</th>
                            <th style="width: 17%" class="font-weight-normal">Tipo</th>
                            <th style="width: 15%" class="font-weight-normal">Cantidad</th>
                            <th style="width: 8%" class="font-weight-normal">Carro</th>
                            <th style="width: 15%" class="font-weight-normal">Unidad</th>
                            <th style="width: 10%" class="font-weight-normal">Stock</th>
                            <th style="width: 8%" class="font-weight-normal">Borrar</th>
                        </tr>
                        </thead>
                        <tbody id="details">

                        </tbody>
                    </table>
                </div>
            </div><!-- modal-body -->


            <div class="modal-footer">
                &nbsp;
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="save-distribution" type="submit" class="btn btn-sm btn-primary">Registrar</button>

            </div>

        </form>

    </div>
</div>


<script type="text/javascript">

    $('#id_truck').select2({
        theme: 'bootstrap4',
    });
    $('#id_pilot').select2({
        theme: 'bootstrap4',
    });
    $(document).on('keyup', '#details tr td.item-quantity input', function () {
        let _total = parseFloat($(this).val());
        let _item_stock = parseFloat($(this).parent('td').parent('tr').find('td.item-stock').text());
        if (_total > _item_stock) {
            toastr.warning("EL STOCK ES INSUFICIENTE", "STOCK");
            $(this).parent('td').parent('tr').find('td.item-quantity input').val(0);
        }
    })

    productList =
        [
            {% for p in product_set %}
                [
                    {{ p.id }},
                    '{{ p.name }}'
                ],
            {% endfor %}
        ];
    unitList =
        [
            {% for t in type_set %}
                [
                    '{{ t.0 }}',
                    '{{ t.1 }}'
                ],
            {% endfor %}
        ];

    function AddRow_Details() {
        console.log('AddRow_Details');
        let options = '<option value="0">seleccione</option>';
        let type_options = '<option value="0">seleccione</option>';

        for (let i = 0; i < productList.length; i++) {
            options = options + '<option value="' + productList[i][0] + '">' + productList[i][1] + '</option>'
        }
        for (let i = 0; i < unitList.length; i++) {
            type_options = type_options + '<option value="' + unitList[i][0] + '">' + unitList[i][1] + '</option>'
        }


        $('#details').append(
            '<tr product="0" type="L" status="E">' +
            '<td class="text-center align-middle item-number">' + '</td>' +
            // '<td class="align-middle item-product">' + _product + '</td>' +
            '<td class="align-middle item-product"><select class="form-control form-control-sm">' + options + '</td>' +
            '<td class="align-middle item-type"><select class="form-control form-control-sm">' + type_options + '</td>' +
            '<td class="align-middle item-quantity"><input type="number" class="form-control form-control-sm"></td>' +
            '<td class="align-middle text-center item-quantity-last">0</td>' +
            '<td class="align-middle text-center item-unit" unit="0"></td>' +
            '<td class="align-middle text-center item-stock"></td>' +
            '<td class="align-middle text-center item-delete"> ' + "<button type='button' onclick='deleteItem(0)' " +
            "class='btn btn-sm btn-danger delete-detail'><i class='fa fa-trash'></i></button>" + "</td>" +
            '</tr>'
            {#' + _id_product + ', #}
        );

        // $('#details tr[product_num="'+_id_product+'"]').find('td.item-product select option[value="'+_id_product+'"]').attr('selected','selected');


        limper();
        {#$index=$index +1;#}
        counterStrike();
    }

    $("#add-detail").click(function () {
        AddRow_Details();
    });

    function deleteItem($p) {
        $('#details').find('tr[product="' + $p + '"]').remove();
        counterStrike();
    }

    function counterStrike() {
        let l = 1;
        $('#details tr').each(function () {
            $(this).attr('f', l);
            $(this).children('td:first').text(l);
            l++;
        });
    }

    function limper(request) {
        $("#id_quantity").val('');
        $("#id_product").val(0);
        $("#id_unit").empty();

    };
    $(document).on('keyup change', '#details tr td.item-type select', function () {
        let type = $(this).val();
        let tr = $(this).parent('td.item-type').parent('tr')
        let product_select = tr.find('td.item-product select')
        let product = product_select.val()
        let _td_unit = tr.find('td.item-unit');
        let _td_delete = tr.find('td.item-delete button');
        let _stock_total = tr.find('td.item-stock');

        tr.attr('product', 0);
        _td_delete.attr('onclick', 'deleteItem(0)');
        _td_unit.text('');
        _td_unit.attr('unit', 0);
        _stock_total.text('');
        if (type !== "0" && parseInt(product) > 0) {
            $.ajax({
                url: '/comercial/get_stock_unit_by_product_type/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'id_product': product, 'id_type': type},
                success: function (response) {
                    let stock = response['quantity'];
                    let store = response['id_product_store'];
                    let store_name = response['product_store_name'];
                    let unit = response['unit'];
                    let unit_name = response['unit_name'];
                    tr.attr('type', type)
                    _td_unit.text(unit_name);
                    _td_unit.attr('unit', unit);
                    tr.attr('product', product);
                    _td_delete.attr('onclick', 'deleteItem(' + product + ')');
                    {#tr.find('td.item-product select option[value="' + product + '"]').attr('selected', 'selected');#}
                    tr.find('td.item-product select option[value="' + product + '"]').attr('selected', 'selected');
                    _stock_total.text(parseFloat(stock).toFixed(2));
                    tr.find('td.item-quantity input').val(0);

                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        {#toastr.error(jqXhr.responseJSON.error, '¡Error de consulta!');#}
                    } else {
                        if (textStatus === 'timeout') {

                            toastr.error('Error de Tiempo de Espera', '¡Error de consulta!');
                        } else {
                            console.log(" STATUS: " + xhr + " " + textStatus);
                        }
                    }
                }
            });
        }
    });
    $(document).on('change', '#details tr td.item-product select', function () {
        let value = $(this)
        let tr = $(this).parent('td.item-product').parent('tr')
        let td_type = tr.find('td.item-type select')
        if (parseInt(value) > 0) {
            td_type.trigger('change')
        } else {
            td_type.val(0)
            td_type.trigger('change')
        }
    })
    {#$(document).on('change', '#details tr td.item-product select', function () {#}
    {#    //recupera el id_dela opcion seleccionada#}
    {#    let value = $(this).val();#}
    {#    console.log("value :", value)#}
    {#    let _tr = $(this).parent('td').parent('tr');#}
    {#    let _select_product = $(this);#}
    {#    let _td_unit = _tr.find('td.item-unit');#}
    {#    let _td_delete = _tr.find('td.item-delete button');#}
    {#    let _stock_total = _tr.find('td.item-stock');#}
    {##}
    {#    _tr.attr('product', 0);#}
    {#    _td_delete.attr('onclick', 'deleteItem(0)');#}
    {#    _td_unit.text('');#}
    {#    _td_unit.attr('unit', 0);#}
    {#    _stock_total.text('');#}
    {##}
    {#    if ($('#details tr[product="' + value + '"][type="L"]').length) {#}
    {#        $(this).find('option[value=0]').attr('selected', 'selected');#}
    {#        toastr.warning('SELECCIONE OTRO PRODUCTO', '¡MENSAJE!');#}
    {#        return false;#}
    {#    }#}
    {##}
    {#    if (value !== '0') {#}
    {#$.ajax({#}
    {#    url: '/buys/get_units_product/',#}
    {#    async: true,#}
    {#    dataType: 'json',#}
    {#    type: 'GET',#}
    {#    data: {'ip': value},#}
    {#    success: function (response) {#}
    {#        let _stock = response['stock'];#}
    {#        let units = JSON.parse(response['units']);#}
    {##}
    {#        for (let i = 0; i < units.length; i++) {#}
    {#            if (units[i].fields.name === 'BG') {  // GAL#}
    {#                _td_unit.text(units[i].fields.description);#}
    {#                _td_unit.attr('unit', units[i].pk);#}
    {#                _tr.attr('product', value);#}
    {#                _td_delete.attr('onclick', 'deleteItem(' + value + ')');#}
    {#                _tr.find('td.item-product select option[value="' + value + '"]').attr('selected', 'selected');#}
    {#                _stock_total.text(_stock);#}
    {#                _tr.find('td.item-quantity input').val(0);#}
    {#            }#}
    {##}
    {#        }#}
    {#        if (_td_unit.text() === '') {#}
    {#            toastr.warning('NO TIENE UNIDAD MEDIDA', '¡MENSAJE!');#}
    {##}
    {#            //$('#details tr[product="0"] td.item-product select option[value="0"]').attr('selected', 'selected');#}
    {#            $('#details tr[product="0"] td.item-product select option[value]').removeAttr('selected');#}
    {#            $('#details tr[product="0"] td.item-product select option[value="0"]').attr('selected', 'selected');#}
    {#        }#}
    {#    },#}
    {##}
    {# });#}
    {##}
    {##}
    {#    }#}
    {##}
    {# })#}
    $('#form-distribution_output').submit(function (event) {
        event.preventDefault();
        if ($('#details tr').length === 0) {
            toastr.warning("POR FAVOR,AGREGUE UN PRODUCTO", "ADVERTENCIA");
            return false
        }
        let distribution = {
            "Details": [],
            "date_distribution": $('#id-date-output').val(),
            "id_truck": $('#id_truck').val(),
            "id_pilot": $('#id_pilot').val(),
            "number_guide": $('#id-guide').val(),
        };
        let value = true
        $("#details  tr").each(function () {
            let f = $(this).attr('f');
            let product = $(this).attr('product');
            let type = $(this).attr('type');
            let status = $(this).attr('status');
            let unit = $(this).find("td.item-unit").attr('unit');
            if (product === '' || product === '0') {
                value = false
                toastr.warning('Seleccione el producto en la fila ' + f.toString())
                return false
            }
            if (unit === '' || unit === '0') {
                value = false
                toastr.warning('Seleccione la unidad en la fila ' + f.toString())
                return false
            }
            if (type === '' || type === '0') {
                value = false
                toastr.warning('Seleccione el tipo en la fila ' + f.toString())
                return false
            }
            if (status === '' || status === '0') {
                value = false
                toastr.warning('No se obtuvo el estado en la fila ' + f.toString())
                return false
            }
            let quantity = $(this).find("td.item-quantity input").val();
            if (quantity === '' || quantity === '0' || quantity === 'NaN' || isNaN(quantity)) {
                quantity = parseFloat('0.00')
            } else {
                quantity = parseFloat(quantity)
            }
            let quantity_last = $(this).find("td.item-quantity-last").text();
            if (quantity_last === '' || quantity_last === '0' || quantity_last === 'NaN' || isNaN(quantity_last)) {
                quantity_last = parseFloat('0.00')
            } else {
                quantity_last = parseFloat(quantity_last)
            }
            let detailObj = {
                "Product": product,
                "Quantity": quantity,
                "Unit": unit,
                "Type": type,
                "Status": status,
                "Quantity_total": quantity + quantity_last,
            };
            distribution.Details.push(detailObj);
        });
        if (value === false) {
            return false
        }
        console.log(JSON.stringify(distribution))
        let mensaje = confirm("¿Esta seguro de registrar la salida");
        if (mensaje) {
            $.ajax({
                url: '/comercial/distribution_mobil_save/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {'distribution': JSON.stringify(distribution)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response.message, '¡PROGRAMACION REGISTRADA CORECTAMENTE!');
                        setTimeout(() => {
                            location.reload();
                        }, 800);
                    }
                },
                fail: function (response) {
                    toastr.error("PROBLEMAS AL REALIZAR LA PROGRAMACION. ", '¡MENSAJE!');
                }
            });
        }

    });
    $('#id_pilot').change(function () {
        $('table#id_distribution_output tbody#details').empty();
        let _search = $(this).val();
        $('table#id-table-form tr td#item-details-distribution-last').text('')
        $('#id_truck').val('').trigger('change');
        $.ajax({
            url: '/comercial/get_quantity_last_distribution/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'ip': _search},
            success: function (response) {
                if (response.message === true) {
                    $('#item-details-distribution-last').html(response.grid).parent('tr').slideDown();
                    $('#id_truck').val(response['truck']).trigger('change');
                    let _list = JSON.parse(response['list']);
                    console.log(_list)
                    for (let i = 0; i < _list.length; i++) {
                        if (parseFloat(_list[i].fields.quantity) > 0) {
                            AddRow_Details();
                            let _tr = $('#details tr[f=' + (i + 1) + ']');
                            let _select = _tr.find('td.item-product select');
                            let _select_type = _tr.find('td.item-type select');


                            _select.find('option[value=' + _list[i].fields.product + ']').attr('selected', 'selected');
                            _select.trigger('change');
                            _select_type.find('option[value=' + _list[i].fields.type + ']').attr('selected', 'selected');
                            _select_type.trigger('change');
                            _tr.attr('product', _list[i].fields.product);
                            _tr.attr('type', _list[i].fields.type);
                            _tr.attr('status', _list[i].fields.status);
                            _select.find('option[value!=' + _list[i].fields.product + ']').remove();
                            _select_type.find('option[value!=' + _list[i].fields.type + ']').remove();
                            _tr.find('td.item-quantity-last').text(parseFloat(_list[i].fields.quantity));
                            _tr.find('td.item-delete button').prop('disabled', true);


                            {#if (_tr.attr('type') === 'V') {#}
                            {#    _tr.addClass('d-none');#}
                            {# }#}
                        }
                    }
                } else {
                    if (response.truck !== '') {
                        $('#id_truck').val(response['truck']).trigger('change');
                    }
                }
            },
        });
    })
</script>