

<style>
    .text-rotated-90{
        transform: rotate(180deg);
        white-space: nowrap;
        writing-mode: vertical-rl;
        padding: 0;
        line-height: 0.9;
    }
</style>



<table class="table table-sm table-bordered" id="excel-data-grid">
    <thead>
    <tr>
        <td class="align-middle text-center table-info" rowspan="2">FECHA</td>

            <td class="text-center font-weight-bold" colspan="5">10KG</td>
            <td class="table-warning text-center" colspan="{{ header_b10|length }}">PRECIOS</td>
        <td class="align-middle text-center table-info" rowspan="2"><span class="text-rotated-90">TOTAL<br/>VENTA S/</span></td>
            <td class="text-center table-dark text-white" colspan="6">FIERROS</td>

            <td class="text-center font-weight-bold" colspan="5">5KG</td>
            <td class="table-warning text-center" colspan="{{ header_b5|length }}">PRECIOS</td>
        <td class="align-middle text-center table-info" rowspan="2"><span class="text-rotated-90">TOTAL<br/>VENTA S/</span></td>
            <td class="text-center table-dark text-white" colspan="6">FIERROS</td>

            <td class="text-center font-weight-bold" colspan="5">45KG</td>
            <td class="table-warning text-center" colspan="{{ header_b45|length }}">PRECIOS</td>
        <td class="align-middle text-center table-info" rowspan="2"><span class="text-rotated-90">TOTAL<br/>VENTA S/</span></td>
            <td class="text-center table-dark text-white" colspan="6">FIERROS</td>

            <td class="text-center font-weight-bold" colspan="5">15KG</td>
            <td class="table-warning text-center" colspan="{{ header_b45|length }}">PRECIOS</td>
        <td class="align-middle text-center table-info" rowspan="2"><span class="text-rotated-90">TOTAL<br/>VENTA S/</span></td>
            <td class="text-center table-dark text-white" colspan="6">FIERROS</td>

        <td class="align-middle text-center table-info  font-weight-bold" rowspan="2"><span class="text-rotated-90">TOTAL<br/>VENTA DEL<br/>DIA S/</span></td>

        <td class="text-center" colspan="5">GASTOS</td>
        <td class="align-middle text-center table-danger  font-weight-bold" rowspan="2"><span class="text-rotated-90">TOTAL<br/>DEPOSITAR S/</span></td>
            <td class="text-center" colspan="5">MOVIMIENTO DE EFECTIVO</td>
        <td class="align-middle text-center table-secondary  font-weight-bold" rowspan="2"><span class="text-rotated-90">TOTAL POR<br/>DEPOSITAR <br/>ACUMULADO S/</span></td>

    </tr>
    <tr>
            <td class="align-middle text-center"><span class="text-rotated-90">LLENO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">VACIO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">CAMBIOS</span></td>
            <td class="align-middle text-center table-success"><span class="text-rotated-90">VENTA</span></td>
            <td class="align-middle text-center table-primary"><span class="text-rotated-90">QUEDA<br/>LLENOS</span></td>
            {% for pb10 in header_b10 %}
                <td class="align-middle text-center table-warning"><span class="text-rotated-90">{{ pb10|safe }}</span></td>
            {% empty %}
                <td class="align-middle text-center table-warning"></td>
            {% endfor %}
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">QUEDA<br/>VACIOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">PRESTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">RECUPERADOS<br/>EN REPARTO</span></td>
            <td class="align-middle text-center table-dark text-danger"><span class="text-rotated-90">RECUPERADOS<br/>EN PLANTA</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">ADELANTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">DEBE<br/>FIERROS</span></td>


            <td class="align-middle text-center"><span class="text-rotated-90">LLENO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">VACIO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">CAMBIOS</span></td>
            <td class="align-middle text-center table-success"><span class="text-rotated-90">VENTA</span></td>
            <td class="align-middle text-center table-primary"><span class="text-rotated-90">QUEDA<br/>LLENOS</span></td>
            {% for pb5 in header_b5 %}
                <td class="align-middle text-center table-warning"><span class="text-rotated-90">{{ pb5|safe }}</span></td>
            {% empty %}
                <td class="align-middle text-center table-warning"></td>
            {% endfor %}
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">QUEDA<br/>VACIOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">PRESTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">RECUPERADOS<br/>EN REPARTO</span></td>
            <td class="align-middle text-center table-dark text-danger"><span class="text-rotated-90">RECUPERADOS<br/>EN PLANTA</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">ADELANTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">DEBE<br/>FIERROS</span></td>


            <td class="align-middle text-center"><span class="text-rotated-90">LLENO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">VACIO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">CAMBIOS</span></td>
            <td class="align-middle text-center table-success"><span class="text-rotated-90">VENTA</span></td>
            <td class="align-middle text-center table-primary"><span class="text-rotated-90">QUEDA<br/>LLENOS</span></td>
            {% for pb45 in header_b45 %}
                <td class="align-middle text-center table-warning"><span class="text-rotated-90">{{ pb45|safe }}</span></td>
            {% empty %}
                <td class="align-middle text-center table-warning"></td>
            {% endfor %}
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">QUEDA<br/>VACIOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">PRESTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">RECUPERADOS<br/>EN REPARTO</span></td>
            <td class="align-middle text-center table-dark text-danger"><span class="text-rotated-90">RECUPERADOS<br/>EN PLANTA</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">ADELANTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">DEBE<br/>FIERROS</span></td>

            <td class="align-middle text-center"><span class="text-rotated-90">LLENO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">VACIO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">CAMBIOS</span></td>
            <td class="align-middle text-center table-success"><span class="text-rotated-90">VENTA</span></td>
            <td class="align-middle text-center table-primary"><span class="text-rotated-90">QUEDA<br/>LLENOS</span></td>
            {% for pb15 in header_b15 %}
                <td class="align-middle text-center table-warning"><span class="text-rotated-90">{{ pb45|safe }}</span></td>
            {% empty %}
                <td class="align-middle text-center table-warning"></td>
            {% endfor %}
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">QUEDA<br/>VACIOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">PRESTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">RECUPERADOS<br/>EN REPARTO</span></td>
            <td class="align-middle text-center table-dark text-danger"><span class="text-rotated-90">RECUPERADOS<br/>EN PLANTA</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">ADELANTADOS</span></td>
            <td class="align-middle text-center table-dark text-white"><span class="text-rotated-90">DEBE<br/>FIERROS</span></td>

            <td class="align-middle text-center"><span class="text-rotated-90">PETROLEO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">VIATICO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">FERIADO Y SUELDO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">MANTENIMIENTO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">OTROS GASTOS</span></td>

            <td class="align-middle text-center"><span class="text-rotated-90">DEPOSITO<br/>Y/O<br/>EFECTIVO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">SALDO</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">ENT. BANC</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">COD. OPE</span></td>
            <td class="align-middle text-center"><span class="text-rotated-90">FECHA</span></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="align-middle text-center table-info">SALDO</td>

        <td colspan="3"></td>
        <td class="align-middle text-center table-success"></td>
        <td class="align-middle text-center table-primary">{{ initial_remaining_in_the_car_bg10 }}</td>
        <td class="align-middle text-center table-warning" colspan="{{ header_b10|length }}"></td>
        <td class="align-middle text-center table-info"></td>
        <td class="table-dark text-center text-white">{{ initial_remaining_in_the_car_b10 }}</td>
        <td class="table-dark text-center text-white">{% if user_id == 5 %}{{ initial_debt_for_borrowed_balls_b10 }}{% endif %}</td>
        <td class="table-dark text-white">{% if user_id == 5 %}{{ initial_recovered_in_distribution_b10 }}{% endif %}</td>
        <td class="table-dark text-center text-danger">{% if user_id == 5 %}{{ initial_recovered_in_plant_b10 }}{% endif %}</td>
        <td class="table-dark text-white"></td>
        <td class="table-dark text-white">{{ initial_remaining_borrowed_b10 }}</td>

        <td colspan="3"></td>
        <td class="align-middle text-center table-success"></td>
        <td class="align-middle text-center table-primary">{{ initial_remaining_in_the_car_bg5 }}</td>
        <td class="align-middle text-center table-warning" colspan="{{ header_b5|length }}"></td>
        <td class="align-middle text-center table-info"></td>
        <td class="table-dark text-center text-white">{{ initial_remaining_in_the_car_b5 }}</td>
        <td class="table-dark text-center text-white">{% if user_id == 5 %}{{ initial_debt_for_borrowed_balls_b5 }}{% endif %}</td>
        <td class="table-dark text-white">{% if user_id == 5 %}{{ initial_recovered_in_distribution_b5 }}{% endif %}</td>
        <td class="table-dark text-center text-danger">{% if user_id == 5 %}{{ initial_recovered_in_plant_b5 }}{% endif %}</td>
        <td class="table-dark text-white"></td>
        <td class="table-dark text-white">{{ initial_remaining_borrowed_b5 }}</td>

        <td colspan="3"></td>
        <td class="align-middle text-center table-success"></td>
        <td class="align-middle text-center table-primary">{{ initial_remaining_in_the_car_bg45 }}</td>
        <td class="align-middle text-center table-warning" colspan="{{ header_b45|length }}"></td>
        <td class="align-middle text-center table-info"></td>
        <td class="table-dark text-center text-white">{{ initial_remaining_in_the_car_b45 }}</td>
        <td class="table-dark text-center text-white">{% if user_id == 5 %}{{ initial_debt_for_borrowed_balls_b45 }}{% endif %}</td>
        <td class="table-dark text-white">{% if user_id == 5 %}{{ initial_recovered_in_distribution_b45 }}{% endif %}</td>
        <td class="table-dark text-center text-danger">{% if user_id == 5 %}{{ initial_recovered_in_plant_b45 }}{% endif %}</td>
        <td class="table-dark text-white"></td>
        <td class="table-dark text-white">{{ initial_remaining_borrowed_b45 }}</td>

        <td colspan="3"></td>
        <td class="align-middle text-center table-success"></td>
        <td class="align-middle text-center table-primary">{{ initial_remaining_in_the_car_bg15 }}</td>
        <td class="align-middle text-center table-warning" colspan="{{ header_b15|length }}"></td>
        <td class="align-middle text-center table-info"></td>
        <td class="table-dark text-center text-white">{{ initial_remaining_in_the_car_b15 }}</td>
        <td class="table-dark text-center text-white">{% if user_id == 5 %}{{ initial_debt_for_borrowed_balls_b15 }}{% endif %}</td>
        <td class="table-dark text-white">{% if user_id == 5 %}{{ initial_recovered_in_distribution_b15 }}{% endif %}</td>
        <td class="table-dark text-center text-danger">{% if user_id == 5 %}{{ initial_recovered_in_plant_b15 }}{% endif %}</td>
        <td class="table-dark text-white"></td>
        <td class="table-dark text-white">{{ initial_remaining_borrowed_b15 }}</td>

        <td class="align-middle text-center table-info"></td>
        <td colspan="5"></td>
        <td class="align-middle text-center table-danger"></td>
        <td colspan="5"></td>
        <td class="align-middle text-center table-secondary font-weight-bold"></td>
    </tr>

{% for distribution in distributions %}

    <tr>
        <td class="align-middle text-center text-nowrap table-info">{{ distribution.date }}</td>

        <td class="align-middle text-center">{{ distribution.B10.extracted_bg }}</td>
        <td class="align-middle text-center">{{ distribution.B10.returned_b }}</td>
        <td class="align-middle text-center">{{ distribution.B10.ruined_returned_bg }}</td>
        <td class="align-middle text-center table-success">{{ distribution.B10.quantity_sold }}</td>
        <td class="align-middle text-center table-primary">{{ distribution.B10.in_the_car_bg }}</td>

        {% for key, value in distribution.B10.prices.items  %}
            <td class="align-middle text-center table-warning">{{ value.quantity }}</td>
        {% endfor %}

        <td class="align-middle text-center table-info">{{ distribution.B10.total_sales }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B10.in_the_car_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B10.quantity_sold_b }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B10.recovered_b }}</td>
        <td class="align-middle table-dark text-center text-danger">{{ distribution.B10.recovered_in_plant_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B10.advanced_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B10.remaining_borrowed_b }}</td>

        <td class="align-middle text-center">{{ distribution.B5.extracted_bg }}</td>
        <td class="align-middle text-center">{{ distribution.B5.returned_b }}</td>
        <td class="align-middle text-center">{{ distribution.B5.ruined_returned_bg }}</td>
        <td class="align-middle text-center table-success">{{ distribution.B5.quantity_sold }}</td>
        <td class="align-middle text-center table-primary">{{ distribution.B5.in_the_car_bg }}</td>
        {% for key, value in distribution.B5.prices.items  %}
            <td class="align-middle text-center table-warning">{{ value.quantity }}</td>
        {% endfor %}
        <td class="align-middle text-center table-info">{{ distribution.B5.total_sales }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B5.in_the_car_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B5.quantity_sold_b }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B5.recovered_b }}</td>
        <td class="align-middle table-dark text-center text-danger">{{ distribution.B5.recovered_in_plant_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B5.advanced_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B5.remaining_borrowed_b }}</td>

        <td class="align-middle text-center">{{ distribution.B45.extracted_bg }}</td>
        <td class="align-middle text-center">{{ distribution.B45.returned_b }}</td>
        <td class="align-middle text-center">{{ distribution.B45.ruined_returned_bg }}</td>
        <td class="align-middle text-center table-success">{{ distribution.B45.quantity_sold }}</td>
        <td class="align-middle text-center table-primary">{{ distribution.B45.in_the_car_bg }}</td>
        {% for key, value in distribution.B45.prices.items  %}
            <td class="align-middle text-center table-warning">{{ value.quantity }}</td>
        {% endfor %}
        <td class="align-middle text-center table-info">{{ distribution.B45.total_sales }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B45.in_the_car_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B45.quantity_sold_b }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B45.recovered_b }}</td>
        <td class="align-middle table-dark text-center text-danger">{{ distribution.B45.recovered_in_plant_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B45.advanced_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B45.remaining_borrowed_b }}</td>

        <td class="align-middle text-center">{{ distribution.B15.extracted_bg }}</td>
        <td class="align-middle text-center">{{ distribution.B15.returned_b }}</td>
        <td class="align-middle text-center">{{ distribution.B15.ruined_returned_bg }}</td>
        <td class="align-middle text-center table-success">{{ distribution.B15.quantity_sold }}</td>
        <td class="align-middle text-center table-primary">{{ distribution.B15.in_the_car_bg }}</td>
        {% for key, value in distribution.B15.prices.items  %}
            <td class="align-middle text-center table-warning">{{ value.quantity }}</td>
        {% endfor %}
        <td class="align-middle text-center table-info">{{ distribution.B15.total_sales }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B15.in_the_car_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B15.quantity_sold_b }}</td>
        <td class="align-middle table-dark text-center text-white">{{ distribution.B15.recovered_b }}</td>
        <td class="align-middle table-dark text-center text-danger">{{ distribution.B15.recovered_in_plant_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B15.advanced_b }}</td>
        <td class="align-middle table-dark text-white">{{ distribution.B15.remaining_borrowed_b }}</td>

        <td class="align-middle text-center table-info font-weight-bold">{{ distribution.total_sold_by_date }}</td>

        <td class="align-middle text-nowrap">{{ distribution.expense_1 }}</td>
        <td class="align-middle text-nowrap">{{ distribution.expense_2 }}</td>
        <td class="align-middle text-nowrap">{{ distribution.expense_3 }}</td>
        <td class="align-middle text-nowrap">{{ distribution.expense_4 }}</td>
        <td class="align-middle text-nowrap">{{ distribution.expense_5 }}</td>

        <td class="align-middle text-center table-danger font-weight-bold">{{ distribution.total_to_deposit }}</td>

        <td class="align-middle text-nowrap">{{ distribution.deposited }}</td>
        <td class="align-middle text-nowrap">{{ distribution.balance }}</td>
        <td class="align-middle text-nowrap">{{ distribution.bank }}</td>
        <td class="align-middle text-nowrap">{{ distribution.code_deposit }}</td>
        <td class="align-middle text-nowrap">{{ distribution.date_deposit }}</td>
        <td class="align-middle text-center table-secondary font-weight-bold">{{ distribution.remaining_total_to_deposit }}</td>

    </tr>
{% endfor %}

    </tbody>
</table>