@import "../../fonts/stylesheet.css";
/*****************************************************************************************  general  *
*/
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #555555;
}
header{
    /*display: none;*/
}
/*
******************************************************************************************  colors  *
*/
.text-white{color: #FFFFFF}
.text-black{color: #000000}

.bg-white{background-color: #FFFFFF}
.bg-black{background-color: #000000}

.bg-action-s{background-color: #FF5252} /*OCCUPIED*/
.bg-action-t{background-color: #FF80AB}
.bg-action-g{background-color: #FFB74D}
.bg-action-w{background-color: #69F0AE}
.bg-action-l{background-color: #64DD17}


/*
******************************************************************************************  idx.html  *
*/

.main-left{
position: absolute;
    z-index: 1;
    opacity: 0.9;
    background-color: white;
}
.main-center{

}
.main-right{
    position: absolute;
    /*left: 73%;*/
    background-color: white;
    opacity: 0.9;
}
/*********************** --items driver main-left-- *****************/
.block-search-float{
    
}
.main-tracking-drivers{

}
.main-tracking-drivers .main-title{
    position: relative;
    background-color: white;
    z-index: 9;
}
.main-tracking-drivers .main-title p{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    /*padding: 0.3em 0.1em;*/
    /*margin: 0 0 0.2em 0;*/
}
.items-driver{
    /*background-color: #E3F2FD;*/
    /*position: relative;*/
    /*height: 100vh;*/
    /*width: 100%;*/
}
.items-driver .item-driver{

    /*text-align: center;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-weight: 100 !important;*/
    /*font-size: 0.7em !important;*/
    text-transform: uppercase;
    line-height: 1;
    /*letter-spacing: .12em;*/
    text-rendering: geometricPrecision;
}
.search-section{
    position: absolute;
    /*left: 23%;*/
    /*top: 10%;*/
    background-color: white;
    opacity: 0.9;
    z-index: 1;
}


/*********************** --map main-center-- *****************/
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#map-canvas {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-controls-map{
    position: absolute;
    bottom:0;
    z-index: 999;
    padding-left: 15px;
    padding-right: 15px;
}
.main-controls-map select, .main-controls-map input{
    width: 100%;
}

/*********************** --stations main-right-- *****************/

.main-info-drivers .main-title{
    background-color: white;
}
.main-info-drivers .main-title p{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}
.items-station{
    background-color: #E3F2FD;
}
.items-station:last-child{

}

.main-title{
    /*background-color: #1c1c1c;*/
    border: none;
    border-radius: 0;
    color: #fff;
    /*cursor: pointer;*/
    /*display: inline-block;*/
    font-family: Gotham SSm,sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 1em;
    padding: 1em 4.5em;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    transition: opacity .1s ease-out;
}



.items-station .item-station{
    position: relative;
    /*display: table;*/
    /*width: 100%;*/
    height: auto;
    margin-bottom: 0.4em;
    background-color: #FFFFFF;
}
.items-station .item-station .item-station-header{
        background-color: #94a5b4;
    color: #FFFFFF;
}
.items-station .item-station .item-station-header p{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 0.8em;
}
.items-station .item-station .item-station-header img.logo-station{
    padding: 0.3em;
    width: 2em;
    height: 2em;
}
.items-station .item-station .item-station-body .current-quantity{
    display: table;
    width: 100%;
    border-bottom: 1px dotted #DDDDDD;
    padding: 0.3em 0.5em;
}
.items-station .item-station .item-station-body .current-quantity:last-child{
    border-bottom: none;
}
.items-station .item-station .item-station-body .current-quantity span:first-child{
    font-size: 0.8em;
    display: table-cell;
    width: 30%;
    background-color: mintcream;
}
.items-station .item-station .item-station-body .current-quantity span:last-child{
    display: table-cell;
    /* width: 34%; */
    /* text-align: center; */
    /* font-family: Gotham SSm,sans-serif; */
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    /* letter-spacing: .12em; */
    font-weight: 500;
    /* text-rendering: geometricPrecision; */
    background-color: whitesmoke;
}

.query {
    font-family: Gotham,sans-serif;
    font-size: 50px;
    letter-spacing: -.02em;
    color: #666;
    /*font-weight: 100;*/
    background-size: cover;
    box-sizing: border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

.items-station .item-station .item-station-footer{
    padding: 0;
}
.items-station .item-station .item-station-footer ul{
    padding: 0 0 0.3em 0;
    margin: 0;
    display: table;
    width: 100%;
}
.items-station .item-station .item-station-footer ul li{
    display: table-cell;
    text-align: center;
    width: 30%;
}
.items-station .item-station .item-station-footer ul li span{
    color: #FFFFFF;
    width: 100%;
    padding: 0.3em 0;
    background-color: #d8d8d4;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.items-station .item-station .item-station-footer ul li span:hover,
.items-station .item-station .item-station-footer ul li span:hover {
    background-color: #94a5b4;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.items-station .item-station .collapse-body{
    padding: 0.5em 0;
}
.items-station .item-station .collapse-body ul{
    padding: 0;
    margin: 0;
}
.items-station .item-station .collapse-body ul li:first-child{
    border-top: 1px dotted #DDDDDD;
}
.items-station .item-station .collapse-body ul li{
    border-bottom: 1px dotted #DDDDDD;
}
.items-station .item-station .collapse-body ul li p{
    font-size: 1em;
    padding: 0.3em 0.5em;
    margin: 0;
}
.items-station .item-station .collapse-body ul li p span{
    font-size: 0.8em;
    padding-right: 0.3em;
}
.items-station .item-station .collapse-body ul li p span:first-child{
    font-weight: 800;
}
.items-station .item-station .collapse-body ul li p a span{
    float: right;
}


#formfiltersearch .control-label,#formsearch .control-label{
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 600;
    font-size: 11px;
    text-shadow: 0 0 1px #ffffff, 0 0 1px #000000;
}


#formfiltersearch #fec_ini, #formfiltersearch #fec_fin {
    padding-right:0;
}

.hasDatepicker{
    font-size: smaller;
    text-align: center;
    font-weight: 800;
    color: lightseagreen;
    border: #dfe5e6 1px solid;
}

/****ul list positions****/
.m-t {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    overflow: overlay;
}

/****li list positions****/
.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    /*padding: 10px 0;*/
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item {
    /*background-color: inherit;*/
    border: 1px solid #e7eaec;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    font-size: 12px;
    letter-spacing: -1px;
}
.fist-item {
    border-top: none !important;
}
/****span li list positions****/
.list-group-item span.label {
    margin-right: 10px;
}
.label {
    /*background-color: #23c6c8;*/
    color: #5e5e5e;
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/

    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}


.row .row-map{
    margin-right: 0px;
    margin-left: 0px;
}

.statistic-box h5 {
    font-weight: 600;
    font-size: 11px;
    text-shadow: 0 0 1px #ffffff, 0 0 1px #000000;
    position: absolute;
    width: 10.5vw;
    top: 85%;
}
.statistic-box h4 {

    color: #000000;
    /* cursor: pointer; */
    /* display: inline-block; */
    font-family: Gotham SSm,sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 1em;
    /* padding: 1em 4.5em; */
    text-align: center;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    transition: opacity .1s ease-out;
    margin-bottom: 0;
}
.statistic-box p {
    position: absolute;
    font-size: 10px;
    width: 20%;
    top: 25%;
    left: 40%;
    text-align: center;
}

#flot-dashboard-chart, #flot-bar-chart{
    margin-top: 2vw;
}
