@import url(vendors/bootstrap.min.css);
@import url(vendors/mdb.min.css);
@import url(vendors/jquery.edittreetable.css);
@import url(../fonts/stylesheet.css);
@import url(base/font-awesome.min.css);
@import url(themes/jquery-ui.css);
@import url(utils/toastr.min.css);
@import url(utils/bootstrap-spinner.css);
hr.message-inner-separator {
  clear: both;
  margin-top: 10px;
  margin-bottom: 13px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); }

#loading {
  display: none;
  width: calc(100% - 175px);
  /*float: right; */
  position: absolute;
  right: 0; }

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 175px; }
  @media handheld, only screen and (min-width: 992px) {
    #loader {
      position: absolute;
      top: 40em; } }
  #loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px; }
    #loader .dot:before {
      border-radius: 100%;
      content: "";
      height: 87.5px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale(0);
      width: 87.5px; }

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg); }

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running;
  animation-name: load;
  background: #00ff80 none repeat scroll 0 0; }

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg); }

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running;
  animation-name: load;
  background: #00ffea none repeat scroll 0 0; }

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg); }

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running;
  animation-name: load;
  background: #00aaff none repeat scroll 0 0; }

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg); }

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running;
  animation-name: load;
  background: #0040ff none repeat scroll 0 0; }

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg); }

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running;
  animation-name: load;
  background: #2a00ff none repeat scroll 0 0; }

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg); }

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running;
  animation-name: load;
  background: #9500ff none repeat scroll 0 0; }

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg); }

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running;
  animation-name: load;
  background: magenta none repeat scroll 0 0; }

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg); }

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running;
  animation-name: load;
  background: #ff0095 none repeat scroll 0 0; }

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1); } }
.indigo-skin .page-footer {
  background-color: #212121;
  bottom: 0;
  width: 100%; }

.side-nav {
  background-color: #212121 !important; }

.indigo-skin .side-nav .sidenav-bg.mask-strong:after, .indigo-skin .side-nav .sidenav-bg:after {
  background: none; }

.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
  height: 180px; }

.side-nav .collapsible .fa {
  font-size: 24px; }

.side-nav .collapsible a {
  font-family: "continuum_lightregular";
  font-size: 1rem; }

.indigo-skin .navbar {
  background-color: #212121;
  color: #212121; }

.indigo-skin .side-nav .collapsible li .collapsible-header.active, .indigo-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: deeppink; }

/*modal */
.modal .modal-full-height .modal-content {
  height: fit-content; }

body {
  background-color: #FFFFFF;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #111111; }
    body h1:hover, body h1:focus, body h2:hover, body h2:focus, body h3:hover, body h3:focus, body h4:hover, body h4:focus, body h5:hover, body h5:focus, body h6:hover, body h6:focus {
      color: #007aff;
      text-decoration: none; }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
      body h1, body h2, body h3, body h4, body h5, body h6 {
        color: #FF851B; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      body h1, body h2, body h3, body h4, body h5, body h6 {
        color: #F012BE; } }
  body .app {
    width: 100%; }
    @media handheld, only screen and (min-width: 992px) {
      body .app {
        padding-top: 65px; } }
  body .no-padding {
    padding-right: 0;
    padding-left: 0; }
  body .no-margin {
    margin-right: 0;
    margin-left: 0; }
  body .title-dashboard {
    font-size: 24px;
    font-weight: normal !important;
    font-family: "continuum_lightregular";
    color: #007aff;
    text-decoration: none;
    text-indent: 15px; }
  body .ui-autocomplete {
    z-index: 9999 !important; }
  body .spinner .input-group-text {
    display: block; }
  body .spinner.input-group .input-group-text a.spin-up, body .spinner.input-group .input-group-text a.spin-down {
    height: 10px;
    width: 10px;
    display: block;
    line-height: normal; }

/*# sourceMappingURL=main.css.map */
